.sprite-1keep, .sprite-after_logo, .sprite-after_menu_shadow, .sprite-blue_str, .sprite-box, .sprite-cabinet, .sprite-camera, .sprite-card, .sprite-check, .sprite-city_str, .sprite-close, .sprite-dog, .sprite-down, .sprite-download, .sprite-exit, .sprite-favorite, .sprite-favorite1, .sprite-footer_chunk, .sprite-hor_chunk, .sprite-login_str_active, .sprite-login_str_passive, .sprite-logo, .sprite-marker, .sprite-marker1, .sprite-market, .sprite-market_str, .sprite-market_white, .sprite-menu_str, .sprite-new, .sprite-phone, .sprite-remove, .sprite-remove_white, .sprite-search, .sprite-select, .sprite-share, .sprite-soc1, .sprite-soc2, .sprite-soc3, .sprite-soc4, .sprite-soc5, .sprite-star, .sprite-star_passive, .sprite-stats, .sprite-sum, .sprite-sum1, .sprite-top, .sprite-top_active_left_bg, .sprite-top_active_right_bg, .sprite-up, .sprite-user, .sprite-user1 {
    background: url("../images/sprile.png") no-repeat;
}

.sprite-1keep {
    width: 1px;
    height: 1px;
    background-position: 0 0;
}

.sprite-after_logo {
    width: 70px;
    height: 70px;
    background-position: 0 -1px;
}

.sprite-after_menu_shadow {
    width: 215px;
    height: 31px;
    background-position: 0 -71px;
}

.sprite-blue_str {
    width: 16px;
    height: 6px;
    background-position: 0 -102px;
}

.sprite-box {
    width: 14px;
    height: 14px;
    background-position: 0 -108px;
}

.sprite-cabinet {
    width: 7px;
    height: 5px;
    background-position: 0 -122px;
}

.sprite-camera {
    width: 55px;
    height: 55px;
    background-position: 0 -127px;
}

.sprite-card {
    width: 42px;
    height: 45px;
    background-position: 0 -182px;
}

.sprite-check {
    width: 8px;
    height: 8px;
    background-position: 0 -227px;
}

.sprite-city_str {
    width: 6px;
    height: 12px;
    background-position: 0 -235px;
}

.sprite-close {
    width: 30px;
    height: 30px;
    background-position: 0 -247px;
}

.sprite-dog {
    width: 14px;
    height: 14px;
    background-position: 0 -277px;
}

.sprite-down {
    width: 15px;
    height: 16px;
    background-position: 0 -291px;
}

.sprite-download {
    width: 32px;
    height: 34px;
    background-position: 0 -307px;
}

.sprite-exit {
    width: 14px;
    height: 14px;
    background-position: 0 -341px;
}

.sprite-favorite {
    width: 13px;
    height: 13px;
    background-position: 0 -355px;
}

.sprite-favorite1 {
    width: 11px;
    height: 11px;
    background-position: 0 -368px;
}

.sprite-footer_chunk {
    width: 2px;
    height: 136px;
    background-position: 0 -379px;
}

.sprite-hor_chunk {
    width: 264px;
    height: 2px;
    background-position: 0 -515px;
}

.sprite-login_str_active {
    width: 17px;
    height: 6px;
    background-position: 0 -517px;
}

.sprite-login_str_passive {
    width: 17px;
    height: 6px;
    background-position: 0 -523px;
}

.sprite-logo {
    width: 190px;
    height: 64px;
    background-position: 0 -529px;
}

.sprite-marker {
    width: 15px;
    height: 24px;
    background-position: 0 -593px;
}

.sprite-marker1 {
    width: 10px;
    height: 14px;
    background-position: 0 -617px;
}

.sprite-market {
    width: 36px;
    height: 30px;
    background-position: 0 -631px;
}

.sprite-market_str {
    width: 9px;
    height: 5px;
    background-position: 0 -661px;
}

.sprite-market_white {
    width: 24px;
    height: 20px;
    background-position: 0 -666px;
}

.sprite-menu_str {
    width: 3px;
    height: 6px;
    background-position: 0 -686px;
}

.sprite-new {
    width: 76px;
    height: 76px;
    background-position: 0 -692px;
}

.sprite-phone {
    width: 20px;
    height: 24px;
    background-position: 0 -768px;
}

.sprite-remove {
    width: 18px;
    height: 18px;
    background-position: 0 -792px;
}

.sprite-remove_white {
    width: 18px;
    height: 18px;
    background-position: 0 -810px;
}

.sprite-search {
    width: 16px;
    height: 13px;
    background-position: 0 -828px;
}

.sprite-select {
    width: 6px;
    height: 4px;
    background-position: 0 -841px;
}

.sprite-share {
    width: 12px;
    height: 12px;
    background-position: 0 -845px;
}

.sprite-soc1 {
    width: 36px;
    height: 36px;
    background-position: 0 -857px;
}

.sprite-soc2 {
    width: 36px;
    height: 36px;
    background-position: 0 -893px;
}

.sprite-soc3 {
    width: 36px;
    height: 36px;
    background-position: 0 -929px;
}

.sprite-soc4 {
    width: 36px;
    height: 36px;
    background-position: 0 -965px;
}

.sprite-soc5 {
    width: 36px;
    height: 36px;
    background-position: 0 -1001px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: 0 -1037px;
}

.sprite-star_passive {
    width: 18px;
    height: 17px;
    background-position: 0 -1054px;
}

.sprite-stats {
    width: 8px;
    height: 13px;
    background-position: 0 -1071px;
}

.sprite-sum {
    width: 136px;
    height: 102px;
    background-position: 0 -1084px;
}

.sprite-sum1 {
    width: 220px;
    height: 135px;
    background-position: 0 -1186px;
}

.sprite-top {
    width: 76px;
    height: 76px;
    background-position: 0 -1321px;
}

.sprite-top_active_left_bg {
    width: 10px;
    height: 50px;
    background-position: 0 -1397px;
}

.sprite-top_active_right_bg {
    width: 10px;
    height: 50px;
    background-position: 0 -1447px;
}

.sprite-up {
    width: 15px;
    height: 16px;
    background-position: 0 -1497px;
}

.sprite-user {
    width: 14px;
    height: 15px;
    background-position: 0 -1513px;
}

.sprite-user1 {
    width: 14px;
    height: 14px;
    background-position: 0 -1528px;
}

