@import 'reset';
@import 'sprite';
@import 'functions';

body {
  font: 13px/1.6 'Open Sans';
  color: #4c4c4c;
  a {
    color: #0092e1; text-decoration: underline;
    &:hover { text-decoration: none; }
    &.ajax {
      text-decoration: none; border-bottom: 1px dashed #0092e1;
      &:hover { border: none; }
    }
  }
  strong {
    font-weight: bold;
  }
  input[type="text"] {
    border: 1px solid #d2d7d8; background: #f7f7f7; border-radius: 7px;
    height: 30px; width: 100%; font-size: 13px; padding: 0 13px;
    outline: none;
    &.white {
      background: #fff; box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.07);
    }
    &.big { height: 40px; }
  }
  .stars {
    font-size: 0;
    a {
      display: inline-block;
      @extend .sprite-star_passive;
      &.active { @extend .sprite-star; }
    }
  }
  button {
    background: none; border: none; margin: 0; padding: 0; outline: none; cursor: pointer;
    &.gbd { 
      background: #f7f7f7; border: 1px solid #f0f0f0; height: 30px; line-height: 28px; 
      width: 100%; border-radius: 6px;
    }
    &.cabinet {
      background: #f5f5f5; border: 1px solid #e1e1e1; box-shadow: inset 0 1px 0 #fff;
      color: #808080; padding: 0 6px; border-radius: 7px; text-shadow: 0px 1px 0 #fff;
      height: 50px;
      i.user { vertical-align: -3px; margin: 0 2px 0 0; }
      i.cabinet { vertical-align: 1px; margin: 0 0 0 1px; }
    }
    &.search {
      padding: 3px 0 0 6px; display: block; border-left: 1px solid #dfe6e7;
    }
    &.order {
      background: url(../images/button.png); height: 40px; padding: 0 25px;
      font-size: 13px; color: #fff; text-shadow: 0 -1px 0 #a83e34; border-radius: 5px;
      box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3); border-bottom: 1px solid #db3f30;
      &.little { height: 30px; }
      &.gray_color { background: url(../images/button3.png); border-color: #999999; }
    }
    &.market {
      background: url(../images/button1.png) no-repeat; width: 130px; height: 31px;
      font-size: 13px; text-shadow: 0 -1px 0 #a83e34; color: #fff; text-align: left;
      border-radius: 5px;
      i.icon {
        vertical-align: -6px; margin: 0 20px 0 10px;
      }
      &.big {
        background: url(../images/button2.png) no-repeat; height: 41px;
      }
    }
    &:hover { opacity: 0.85; }
    &.gray {
      height: 31px; width: 30px; background: #e6e6e6; box-shadow: inset 0 2px 0 #eeeeee;
      border-bottom: 1px solid #cccccc; border-radius: 5px; margin: 0 0 0 5px;
      &:hover { background: #d9d9d9; box-shadow: inset 0 2px 0 #e4e4e4; }
    }
    &.gray1 {
      background: #f6f6f6; border: 1px solid #f1f1f1; box-shadow: inset 0 -1px 1px #fff;
      height: 52px; line-height: 50px; color: #4c4c4c; font-size: 12px; border-radius: 5px;
    }
  }
  .hasCustomSelect {
    position: relative; z-index: 40;
  }
  .customSelect {
    background: #fcfcfc; border: 1px solid #efefef; height: 31px; padding: 0 25px 0 9px; position: relative;
    width: 100%; display: block; line-height: 29px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03); z-index: 30;
    border-radius: 4px;
    i {
      @extend .sprite-select; display: block; position: absolute; top: 13px; right: 10px;
    }
  }
}

i.icon {
  display: inline-block;
  &.after_logo        { @extend .sprite-after_logo; }
  &.after_menu_shadow { @extend .sprite-after_menu_shadow; }
  &.city_str          { @extend .sprite-city_str; position: absolute; top: 9px; left: -6px; }
  &.favorite          { @extend .sprite-favorite; }
  &.favorite1         { @extend .sprite-favorite1; }
  &.logo              { @extend .sprite-logo; }
  &.marker            { @extend .sprite-marker; }
  &.market            { @extend .sprite-market; }
  &.market_str        { @extend .sprite-market_str; vertical-align: 3px; }
  &.market_white      { @extend .sprite-market_white; }
  &.menu_str          { @extend .sprite-menu_str; }
  &.phone             { @extend .sprite-phone; }
  &.search            { @extend .sprite-search; }
  &.soc1              { @extend .sprite-soc1; }
  &.soc2              { @extend .sprite-soc2; }
  &.soc3              { @extend .sprite-soc3; }
  &.soc4              { @extend .sprite-soc4; }
  &.soc5              { @extend .sprite-soc5; }
  &.star              { @extend .sprite-star; }
  &.star_passive      { @extend .sprite-star_passive; }
  &.stats             { @extend .sprite-stats; }
  &.user              { @extend .sprite-user; }
  &.cabinet           { @extend .sprite-cabinet; }
  &.footer_chunk      { @extend .sprite-footer_chunk; }
  &.hor_chunk         { @extend .sprite-hor_chunk; }
  &.remove            { @extend .sprite-remove; }
  &.remove_white      { @extend .sprite-remove_white; }
  &.blue_str          { @extend .sprite-blue_str; }
  &.user1             { @extend .sprite-user1; }
  &.box               { @extend .sprite-box; }
  &.marker1           { @extend .sprite-marker1; }
  &.dog               { @extend .sprite-dog; }
  &.exit              { @extend .sprite-exit; }
  &.new               { @extend .sprite-new; }
  &.top               { @extend .sprite-top; }
  &.camera            { @extend .sprite-camera; }
  &.close             { @extend .sprite-close; }
  &.check             { @extend .sprite-check; }
  &.card              { @extend .sprite-card; vertical-align: -19px; }
  &.download          { @extend .sprite-download; vertical-align: -12px; }
  &.up                { @extend .sprite-up; vertical-align: -2px; }
  &.down              { @extend .sprite-down; vertical-align: -6px; }
  &.share             { @extend .sprite-share; vertical-align: -1px; }
}

.wrap { width: 960px; margin: 0 auto; }
.wrap.main { padding: 20px 0 30px 0; }

header {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); background: #fafafa;
  .line {
    background: url(../images/top.png);
    border-bottom: 1px solid #d9d9d9;
  }
  div.logo {
    width: 300px; position: relative; height: 100px;
    border-right: 1px solid #fff; float: left;
    i.logo { position: absolute; top: 9px; left: 0; }
    i.after_logo { position: absolute; top: 16px; left: 212px; }
    p { position: absolute; top: 78px; left: 0; font-size: 11px; color: #505050; }
  }
  div.market {
    width: 180px; position: relative; height: 100px; float: left;
    border-right: 1px solid #fff; border-left: 1px solid #e0e0e0;
    padding: 39px 0 0 19px;
    &> i.market {
      float: left; margin: 0 13px 0 0; position: relative;
      span.count {
        position: absolute; background: #f1594b;
        border: 2px solid #f0f0f0; height: 24px; width: 24px;
        border-radius: 20px; line-height: 20px; text-align: center;
        color: #fff; font-size: 11px; top: -12px; left: 24px;
      }
    }
    &> p {
      font-size: 11px; color: #b2b2b2; line-height: 21px;
      margin: -10px 0 0 0;
    }
    &> .price {
      font-size: 18px; font-weight: bold; color: #000000; line-height: 21px;
    }
    .over {
      display: block; position: absolute; top: 100px; left: 0; padding: 10px 0 20px 0;
      background: #f0f0f0; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);  width: 450px;
      border-radius: 0 0 5px 5px; z-index: 6000; display: none;
      .subitems {
        border-top: 1px solid #cccccc; margin: -1px 0 0;
      }
      .subitem {
        border-top: 1px solid #dcdcde; background: #e8e8eb; padding: 10px 20px;
        &:first-child { border-top: none; }
        .t { display: table; width: 100%; }
        .r { display: table-row; }
        .name { 
          display: table-cell; width: 248px; vertical-align: middle; font-size: 12px; 
          color: #4c4c4c; line-height: 14px; padding: 0 40px 0 0; 
        }
        .count { display: table-cell; width: 45px; vertical-align: middle; font-size: 13px; }
        .price { 
          display: table-cell; width: 86px; vertical-align: middle; 
          font-weight: bold; font-size: 13px; color: #4d4d4d; 
        }
        .remove { display: table-cell; width: 20px; vertical-align: middle; }
        .remove_white {vertical-align: middle;}
      }
      .item {
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #fff;
        padding: 10px 20px;
        .t { display: table; width: 100%; }
        .r { display: table-row; }
        .image {
          display: table-cell; vertical-align: middle; padding: 0 10px 0 0;
          width: 50px;
        }
        img { display: block; }
        .name {
          display: table-cell; width: 160px; padding: 0 30px 0 0;
          font-size: 12px; color: #4d4d4d; line-height: 15px; vertical-align: middle;
        }
        .count { display: table-cell; width: 65px; }
        .price {
          display: table-cell; font-weight: bold; color: #4d4d4d; font-size: 15px; 
          vertical-align: middle; width: 85px;
        }
        .remove { display: table-cell; vertical-align: middle; width: 20px; }
        &:first-child { border-top: none; }
      }
      .price_order {
        padding: 25px 20px 0;
        p {
          float: left; line-height: 40px; color: #808080; font-size: 12px;
          strong { font-size: 18px; font-weight: bold; color: #323e48; padding: 0 0 0 4px; }
        }
        button {
          float: right;
        }
      }
    }
    &:hover {
      background: #f0f0f0; border-right-color: #e4e4e4; box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.05);
      .over { display: block; }
    }
  }
  div.phones {
    width: 310px; float: left; height: 100px; padding: 19px 17px 0;
    border-right: 1px solid #fff; border-left: 1px solid #e0e0e0;
    .phone {
      float: left; line-height: 13px;
      padding: 0 6px 0 0;
      div, strong {
        display: block; font-size: 15px; 
        strong {display: inline;}
      }
      p {
        text-align: right; font-size: 11px; color: #b2b2b2;
      }
      &.right {
        padding: 0 0 5px 6px;
        border-left: 1px solid #d9d9d9;
      }
    }
    form {
      position: relative; margin: 10px 0 0 0;
      input { padding: 0 40px 0 13px; }
      button {
        position: absolute; top: 5px; right: 10px; background: #f7f7f7;
      }
    }
  }
  div.cabinet {
    float: left; width: 170px; border-left: 1px solid #e0e0e0;
    height: 100px; padding: 24px 0 0 20px;
    button { width: 100%; }
  }
  .region {
    padding: 4px 10px 0 0;
    height: 50px; float: left; line-height: 46px;
    background: url(../images/top_left.png) no-repeat right top;
    .all_right {
      display: inline-block; height: 32px; line-height: 30px;
      border: 1px solid #d9d9d9; font-size: 11px; color: #a2a2a2;
      border-radius: 5px; position: relative; padding: 0 10px; margin: 0 0 0 10px;
      a { text-decoration: none; margin: 0 0 0 10px; }
    }
  }
  ul {
    float: right; font-size: 12px; text-transform: uppercase;
    margin: 0 -23px 0 0;
    li {
      float: left;
      a {
        padding: 4px 23px 0; display: block; height: 50px; line-height: 46px;
        color: #86898c; text-decoration: none; font-weight: bold; position: relative;
        &:hover {
          background: url(../images/top_active_bg.png) repeat top left;
          &:before, &:after {
            content: ' '; position: absolute; top: 0;
          }
          &:before { @extend .sprite-top_active_left_bg; left: 0; }
          &:after  { @extend .sprite-top_active_right_bg; right: 0; }
        }
      }
    }
  }
}

aside {
  width: 220px; float: left; position: relative;
  nav {
    background: #f5f5f5 url(../images/menu.png) top left repeat-x; margin: 0 0 30px; position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); border-radius: 5px; padding: 10px 0 6px;
    i.after_menu_shadow { z-index: -1; position: absolute; bottom: -20px; right: -6px; }
    &> li {
      line-height: 1;
      &> a {
        display: block; text-decoration: none; border: 1px solid #f5f5f5; border-width: 1px 0;
        color: #4c4c4c; line-height: 13px; font-size: 13px; padding: 8.5px 10px 8.5px 20px;
        position: relative; z-index: 700;
        i.menu_str {
          position: absolute; top: 50%; right: 10px; margin: -3px 0 0 0;
        }
        i.white {
          height: 100%; position: absolute; top: 0; right: -20px;
          width: 20px; background: #fff; display: none;
        }
      }
      ul {
        position: absolute; border: 1px solid #e0e0e0; border-width: 1px 1px 1px 0; padding: 6px 0 0 20px;
        top: 3px; left: 221px; width: 230px; border-radius: 0 5px 5px 0; background: #fff; min-height: 98%;
        box-shadow: inset 3px 0 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1); z-index: 600;
        display: none;
        li {
          line-height: 30px;
          a {
            display: block; font-size: 13px; color: #4c4c4c; text-decoration: none;
            &:hover { color: #0092e1; }
          }
        }
      }
      &:hover, &.hover { 
        &> a { background: #fff; border-color: #e9e9e9; } 
        ul { display: block; }
        i.white { display: block; }
      }
    }
  }
  .banner {
    margin: 0 0 20px;
    img { display: block; }
  }
  .text {
    border-top: 1px solid #e6e6e6; padding: 14px 0 0 0;
    .label {
      font-weight: bold; font-size: 13px; color: #323e48; text-transform: uppercase;
      border-left: 2px solid #0092e1; padding: 0 0 0 7px; line-height: 1; margin: 0 0 9px;
    }
    p {
      font-size: 12px; color: #808080; line-height: 16px; margin: 0 0 7px;
    }
  }
}

section {
  float: right; width: 720px; position: relative;
  .carusel {
    margin: 0 0 14px;
    .border {
      border-radius: 5px; overflow: hidden;
      img { display: block; }
      ul { width: 10000px; }
      li { float: left; width: 790px; }
    }
    .points {
      font-size: 0; text-align: center; margin: 10px 0 0 0;
      a {
        display: inline-block; height: 5px; width: 20px; background: #d9d9d9; border-radius: 5px;
        margin: 0 2px;
        &.active { background: #999999; }
      }
    }
  }
  .items {
    margin: 0 0 25px;
    .title { font-size: 18px; margin: 0 0 7px; a { color: #f1594b; } }
    .line { margin-bottom: 15px; &:last-child { margin: 0; } }
  }
  .item {
    width: 230px; border-radius: 6px; position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); float: left; margin: 0 0 0 15px;
    .image {
      display: table; width: 100%; height: 184px;
      a { height: 184px; display: table-row; }
      span { display: table-cell; vertical-align: middle; text-align: center; }
      img { margin: 0 auto; display: block; }
      i.icon { position: absolute; top: 0; left: 0; }
      em {
        position: absolute; top: 77px; left: 50%; text-align: center;
        width: 180px; height: 40px; margin: 0 0 0 -90px; line-height: 40px;
        background: rgba(255, 255, 255, 0.8); border: 1px solid #dedede;
        text-transform: uppercase; color: #4c4c4c; font-size: 12px;
        display: none; cursor: pointer;
        i { border-bottom: 1px dashed #4c4c4c; }
        &:hover i { border: none; }
      }
      &:hover em { display: block; }
    }
    .data {
      background: url(../images/item_data.png) repeat-x;
      border-bottom: 1px solid #e6e6e6; height: 110px;
      padding: 0 15px;
      .title {
        padding: 14px 0 10px 0; line-height: 16px;
        a { font-size: 14px; color: #000; text-decoration: none; }
      }
      .stars {
        float: left; margin: 0 0 3px;
      }
      .size {
        color: #4c4c4c; font-size: 12px;
        span { color: #808080; }
      }
      .opinions {
        float: left; width: 90px; margin: -2px 0 0 5px; font-size: 12px;
        a { color: #4c4c4c; text-decoration: none; }
        span { color: #808080; }
      }
    }
    .price {
      height: 87px;
      padding: 0 15px;
      .pr {
        font-size: 18px; font-weight: bold; color: #262626;
        padding: 9px 0 5px 0;
        span { font-size: 13px; color: #999999; text-decoration: line-through; padding: 0 0 0 5px; }
      }
      .net {
        color: #999999; padding: 11px 0 9px 0;
      }
      button {
        float: left;
      }
    }
    &:first-child { margin: 0; }
  }
  .text {
    font-size: 13px;
    h3 {
      font-size: 16px; color: #323e48; font-weight: 600; margin: 0 0 10px;
    }
    ul {
      color: #4c4c4c; font-size: 13px; line-height: 23px;
      li {
        &:before {
          content: '•';
          padding: 0 15px 0 0;
        }
      }
    }
    p {
      margin: 0 0 7px; color: #4c4c4c; line-height: 16px;
    }
  }
  .promos {
    margin: 40px 0 30px 0;
    .promo {
      border-bottom: 1px solid #d9d9d9; background: #fafafa; 
      margin: 0 0 9px; overflow: hidden; position: relative;
      i.camera { position: absolute; top: 0; right: 0; }
      img {
        float: left;
      }
      .data {
        margin: 0 0 0 240px; text-align: center; padding: 10px 20px 0;
        .label { 
          font-size: 20px; color: #323e48; font-weight: 600; padding: 0 0 8px;
          background: url(../images/line.png) no-repeat bottom center; margin: 0 0 7px;
        }
        p { font-size: 12px; color: #4c4c4c; font-style: italic; line-height: 16px; }
      }
      &:nth-child(even) {
        img {
          float: right;
        }
        .data {
          margin: 0 240px 0 0;
        }
      }
    }
  }
  .bread {
    color: #808080; font-size: 13px; margin: -3px 0 10px 0;
    a { color: #808080; text-decoration: none; }
  }
  .page {
    font-size: 20px; font-weight: bold; color: #323e48;
    margin: 0 0 10px;
  }
  .promo-line {
    height: 40px; line-height: 40px; background: url(../images/promo_line.png) no-repeat; font-size: 13px;
    padding: 0 20px; border-radius: 5px; margin: 0 0 20px;
    a { color: #fff; }
    p { float: left;font-style: italic; }
    p:not(.r) { font-weight: bold; font-size: 16px; }
    p.r { float: right; }
  }
  .filter {
    background: #f5f5f5; border-radius: 5px; padding: 0 0 12px 18px; //height: 70px;
    margin: 0 0 10px;
    .c {
      float: left; margin: 0 18px 0 0; padding: 8px 0 0 0;
    }
    .w82 {
      width: 82px;
    }
    .w152 {
      width: 152px;
    }
    label {
      font-size: 12px; color: #666; display: block; margin: 0 0 2px;
    }
  }
  .pagination {
    background: #fafafa; padding: 10px 15px; margin: 0 0 20px;
    ul {
      overflow: hidden;
      li {
        float: left; margin: 0 3px 0 0;
        a {
          display: block; text-decoration: none; font-size: 13px; color: #999999;
          background: #fcfcfc; border-bottom: 1px solid #cccccc; height: 30px; width: 30px; text-align: center;
          box-shadow: inset 0 2px 0 #fdfdfd; line-height: 30px; border-radius: 4px;
          &.active {
            background: #f1594b; border: none; color: #fff; box-shadow: inset 0 1px 0 #db3f30;
          }
        }
        &.first { a { width: 80px; } }
        &.last  { a { width: 80px; } }
      }
    }
  }
  .details {
    border-bottom: 1px solid #ccc; font-size: 12px; color: #808080; padding: 0 0 7px;
    .stars {
      display: inline-block; vertical-align: -4px; padding: 0 5px 0 0;
      a {border: none;}
    }
    a { text-decoration: none; border-bottom: 1px dashed #0092e1; }
    a:hover { border: none; }
    span { padding: 0 2px; color: #d9d9d9; }
    em {
      float: right; color: #7f7f7f; padding: 2px 0 0 0;
    }
  }
  .item_page {
    .date {
      text-align: right; color: #808080; font-size: 12px;
      padding: 14px 0 5px;
      strong { font-weight: bold; color: #4c4c4c; }
    }
    .images {
      float: left; width: 340px;
      .t { display: table; width: 100%; margin: 0 0 20px; }
      .r { display: table-row; }
      .c { 
        display: table-cell; height: 310px; vertical-align: middle; 
        img { display: block; margin: 0 auto; }
      }
      .mini {
        a {
          display: block; float: left; margin: 0 0 0 5px; border-radius: 3px; overflow: hidden;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
          img { display: block; }
        }
      }
    }
    .right {
      float: right; width: 360px;
      .label {
        font-size: 13px; font-weight: bold; color: #333; margin: 10px 0 0 0; line-height: 24px;
      }
      .btns {
        font-size: 0; overflow: hidden; margin: 0 0 10px;
        button:first-child { float: left; width: 202px; }
        button:last-child { float: right; width: 152px; }
        i.icon { margin: 0 15px 0 0; }
      }
      dl {
        background: url(../images/dot.png) 0 16px repeat-x;
        overflow: hidden; line-height: 24px;
        dt {
          float: left; background:#fff; padding: 0 1px 0 0;
        }
        dd {
          width: 160px; background: #fff; float: right; padding: 0 0 0 1px;
        }
      }
      .price {
        background: #fcfcfc; border-radius: 5px; overflow: hidden; margin: 0 0 10px;
        .pr {
          padding: 10px 20px 5px;
          p {
            color: #999; font-size: 12px; line-height: 28px;
          }
          strong {
            display: block; font-size: 26px; font-weight: bold; color: #333333;
            margin: -10px 0 -5px 0;
          }
          button {
            float: right; margin: 20px 0 0 0;
          }
        }
        .bg {
          background: #ededed; height: 30px; line-height: 30px;
          font-size: 12px; padding: 0 20px;
          .green {
            color: #4c9d2f; display: inline-block; padding: 0 10px 0 0;
            i {margin: 0 5px 0 0;}
          }
          a {
            text-decoration: none; color: #666666; 
            em { border-bottom: 1px dashed #666; }
            i.favorite1 { vertical-align: -2px; margin: 0 4px 0 0; }
            &:hover em { border: none; }
          }
        }
      }
    }
  }
  .opinions {
    margin: 30px 0 40px;
    h3 {
      font-weight: 600; font-size: 18px; color: #4c4c4c; margin: 0 0 10px;
    }
    ul {
      li {
        background: #fcfcfc; padding: 10px 20px; overflow: hidden; border-radius: 10px;
        box-shadow: 0 2px 2px #f2f2f2; margin: 0 0 10px;
        .info {
          width: 110px; float: left;
          p { font-size: 13px; color: #4c4c4c; font-weight: 600; line-height: 15px; }
          small { font-weight: normal; font-size: 12px; color: #b2b2b2; display: block; padding: 0 0 5px; }
          .stars { margin: 0 0 10px; }
          button {
            margin: 10px 0 0 0;
            &.l { float: left; width: 50px; }
            &.r { float: right; width: 50px; }
            i.icon { margin: 0 7px 0 0; }
          }
        }
        .data {
          margin: 0 0 0 140px; line-height: 16px; font-size: 12px; color: #808080;
        }
      }
    }
  }
  .complect {
    margin: 30px 0 40px;
    h3 {
      font-weight: 600; font-size: 18px; color: #4c4c4c; margin: 0 0 10px;
    }
    .sum {
      float: right;  margin: 100px 0 0;
      .bg {
        @extend .sprite-sum;
        text-align: center; padding: 16px 0 0 0;
      }
      p { font-size: 12px; line-height: 14px; color: #808080; margin: 0 0 10px; }
      .price { font-size: 20px; font-weight: bold; color: #323e48; }
      button { width: 100%; margin: 10px 0 0 0; }
    }
    ul {
      width: 575px; float: left;
      li {
        padding: 10px 20px; position: relative;
        img:not(.big) {
          float: left;
        }
        img.big {
          position: absolute; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          left: -240px; top: -85px; border-radius: 10px; display: none;
          z-index: 100500;
        }
        .data {
          margin: 5px 125px 0 70px;
          p {
            font-size: 13px; line-height: 16px;
            a {
              color: #0092e1; 
            }
            small {
              font-size: 12px; color: #808080;
            }
            &.price {
              font-size: 16px; color: #4c4c4c; float: right; font-weight: bold;
              padding: 16px 0 0 10px;
            }
          }
        }
        button {
          float: right; width: 100px; padding: 0; margin: 10px 0 0;
        }
        &:nth-child(odd) { background: #f0f0f0; }
        &.active { box-shadow: inset 3px 0 0 #6ba53a; }
        &:hover img.big { display: block; }
      }
    }
  }
  .market {
    margin: 0 0 20px;
    h3 {
      font-size: 20px; font-weight: bold; color: #323e48; margin: 0 0 10px;
    }
  }
  .market-elem {
    margin: 0 0 10px;
    .main {
      overflow: hidden; position: relative; z-index: 200;
      background: #fafafa; border-radius: 0 0 8px 8px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      padding: 10px 20px; 
      img { float: left; }
      .title { width: 380px; float: left; margin: 0 0 0 20px; font-size: 13px; color: #4d4d4d; line-height: 60px; }
      .count { width: 45px; float: left; line-height: 60px; }
      a.remove { float: right; margin: 20px 0 0 40px; }
      .price { float: right; font-size: 18px; font-weight: bold; color: #4d4d4d; line-height: 60px; }
      .double { line-height: 18px; padding: 11px 0 0 0; span { color: #b2b2b2; font-size: 13px; font-weight: normal; display: block; } }
    }
    .sub {
      overflow: hidden; background: #f5f5f5; position: relative;
      padding: 10px 12px 10px 30px; margin: 0 10px; z-index: 100;
      border-bottom: 1px solid #dcdcde;
      img { float: left; }
      .title { width: 380px; float: left; margin: 0 0 0 20px; line-height: 40px; }
      .count { float: left; line-height: 40px; } 
      a.remove { float: right; margin: 10px 0 0 40px; }
      .price { float: right; font-size: 14px; font-weight: bold; color: #4d4d4d; line-height: 40px; }  
      &:last-child { border: none; border-radius: 0 0 7px 7px; }    
    }
  }
  .order {
    h3 {
      font-size: 16px; font-weight: bold; color: #323e48; margin: 0 0 10px;
    }
    .left {
      float: left; width: 480px; background: #fafafa; border-radius: 8px;
      padding: 20px;
      .field {
        margin: 0 0 10px;
        &:last-child { margin: 0; }
        label { float: left; width: 110px; text-align: right; padding: 4px 0 0 0; }
        .input { margin: 0 0 0 130px; }
      }
    }
    .right {
      float: right; width: 220px;
      .captcha {
        padding: 20px 0 0 0; text-align: center;
        img {
          float: left;
        }
        .field {
          margin: 0 0 0 90px; font-size: 11px; color: #323e48;
        }
        button { margin: 20px 0 0 0; }
      }
      .sum { 
        @extend .sprite-sum1; padding: 18px 19px 0;
        dl {
          overflow: hidden; line-height: 30px;
          dt {
            float: left; font-size: 12px; color: #808080;
          }
          dd {
            float: right; font-weight: bold; color: #323e48; font-size: 14px;
            strong { font-size: 20px; }
          }
        }
      }
    }
  }
  .cabinet {
    h3 {
      font-size: 16px; font-weight: bold; color: #323e48; margin: 0 0 10px;
    }
    .tabs {
      border-bottom: 3px solid #e2e1dc; margin: 0 0 15px;
      li {
        float: left; position: relative; font-size: 14px; font-weight: bold;
        margin: 0 30px 0 0;
        a { display: block; text-decoration: none; color: #808080; padding: 0 0 4px; }
        a.active { border-bottom: 3px solid #0092e1; margin: 0 0 -3px; color: #333333; }
        a:hover { border-bottom: 3px solid #0092e1; margin: 0 0 -3px; }
      }
    }
  }
  .user-data {
    h3 {
      font-weight: bold; font-size: 16px;
      color: #4d4d4d;
    }
    .bg {
      background: #fafafa; border-radius: 7px; padding: 20px;
    }
    .field {
      overflow: hidden; margin: 0 0 10px;
      label {
        text-align: right; font-size: 12px; padding: 5px 0 0 0; font-weight: bold;
        color: #4d4d4d;
        &.double {
          padding: 0; line-height: 14px;
        }
      }
      .input {
        button {
          float: right; white-space: nowrap;
        }
      }
      &:last-child { margin: 0; }
    }
    .left {
      width: 400px; float: left;
      .field {
        label {
          float: left; width: 110px; 
        }
        .input {
          margin: 0 0 0 130px;
        }
      }
    }
    .right {
      width: 300px; float: right;
      .bg { padding: 20px 20px 20px 0; }
      .field {
        label {
          width: 110px; float: left;
        }
        .input {
          margin: 0 0 0 130px;
        }
      }
    }
  }
  .user-orders {
    .subtabs {
      font-size: 12px; font-weight: bold; text-transform: uppercase; overflow: hidden;
      border-bottom: 1px solid #d9d9d9; border-radius: 5px; float: left; margin: 10px 0 10px; 
      li {
        float: left; border-left: 1px solid #d9d9d9;
        &:first-child { border: none; }
        a {
          color: #4c4c4c; text-decoration: none; display: block; line-height: 30px; padding: 0 20px;
          &.active { background: #808080; color: #fff; box-shadow: inset 0 1px 0 #606060; }
        }
      }
    }
    .user-order {
      background: #fcfcfc; display: table; width: 100%; height: 50px; margin: 0 0 5px; border-radius: 5px;
      .r {
        display: table-row; font-size: 12px; color: #4c4c4c; font-weight: 600;
        .num {
          display: table-cell; vertical-align: middle; width: 159px; padding: 0 0 0 20px;
          a {
            text-decoration: none; border-bottom: 1px dashed #0092e1;
            &:hover { border: none; }
          }
        }
        .date {
          display: table-cell; vertical-align: middle; width: 90px;
        }
        .dost {
          display: table-cell; vertical-align: middle; width: 190px;
        }
        .status {
          display: table-cell; vertical-align: middle; width: 196px;
        }
        .price {
          display: table-cell; vertical-align: middle; width: 84px;
        }
      }
    }
  }
  .search {
    form {
      overflow: hidden; padding: 0 0 20px;
      input {
        float: left; width: 360px;
      }
      button { float: left; margin: 0 0 0 20px; }
    }
    .categories {
      overflow: hidden; padding: 0 0 20px;
      a {
        display: block; float: left; padding: 0 12px; height: 30px; line-height: 30px;
        text-decoration: none; color: #4c4c4c; background: #f7f7f7; margin: 0 10px 10px 0;
        font-size: 12px; border-radius: 5px; border-radius: 5px; border-bottom: 1px solid #d9d9d9;
        em { border-bottom: 1px dashed #4c4c4c; }
        &.active { background: #0092e1; color: #fff; em { border-color: #fff; } }
        &:hover em { border: none; }
      }
    }
  }
}

footer {
  .line {
    background: #e6e6e6;
    &1 {
      background: #323e48;
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
    }
  }
  .social {
    float: right; padding: 27px 0 0 0;
    a {
      float: left; margin: 0 0 0 5px;
    }
  }
  .copyright {
    float: left; width: 550px; padding: 18px 0 22px;
    p {
      font-size: 12px; line-height: 14px;
      margin: 0 0 7px; color: #707980;
      &:last-child { margin: 0; }
    }
  }
  ul {
    line-height: 22px; font-size: 12px; float: left;
    position: relative; padding: 25px 0; width: 190px; margin: 0 30px 0 0;
    a { color: #4c4c4c; text-decoration: none; }
    i.icon { position: absolute; top: 50%; right: 0; margin: -68px 0 0 0; }
    &.mini { width: 165px; }
  }
  .address {
    float: right; width: 270px;
    i.icon {float: left;}
    div.phones {
      padding: 25px 0 0 0;
      p {
        font-size: 11px; color: #808080; line-height: 25px;
        margin: -3px 0 0 0;
        strong {
          font-size: 15px; color: #000; width: 140px;
          text-align: right; display: inline-block;
        }
      }
      i.phone {
        margin: 10px 10px 10px 0;
      }
      i.hor_chunk {
        float: none; margin: 5px auto 0; display: block;
      }
    }
    div.marker {
      padding: 6px 0 0;
      p {
        font-style: italic; font-size: 13px; line-height: 15px;
      }
      i.marker {
        margin: 2px 15px 0 0;
      }
    }
  }
  .logo {
    float: left; width: 260px; padding: 20px 0 0 0;
    p { font-size: 11px; color: #505050; padding: 4px 0 0; clear: both; }
  }
}

.popup_wrapper {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  padding: 100px 0; overflow-y: auto; z-index: 9000; display: none;
  background: rgba(0, 0, 0, 0.2);
  .popup {
    margin: 0 auto; width: 960px; border-radius: 10px; position: relative;
    background: #fcfcfc; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
    padding: 30px 30px 50px;
    &.city {
      width: 560px; padding: 30px;
      .label { font-weight: bold; font-size: 18px; margin: 0 0 10px; }
      .field { margin: 0 0 15px; }
      .cols {
        overflow: hidden;
        .col {
          float: left; width: 33.3%; line-height: 23px;
          .active { font-weight: bold; }
          a { text-decoration: none; color: #333333; }
        }
      }
    }
    a.close {
      position: absolute; top: -15px; right: -15px;
    }
    .data {
      margin: 0 0 0 290px;
      .title {
        font-size: 18px; color: #323e48; font-weight: bold; line-height: 22px; margin: 0 0 10px;
      }
      .left {
        width: 370px; float: left; overflow: hidden;
        .stars {
          float: left;
        }
        .label {
          font-size: 13px; font-weight: bold; color: #333; margin: 10px 0 0 0; line-height: 24px;
        }
        dl {
          background: url(../images/dot.png) 0 16px repeat-x;
          overflow: hidden; line-height: 24px;
          dt {
            float: left; background:#fcfcfc; padding: 0 1px 0 0;
          }
          dd {
            width: 160px; background: #fcfcfc; float: right; padding: 0 0 0 1px;
          }
        }
        .opinions {
          float: left; width: 90px; margin: -2px 0 0 5px; font-size: 12px;
          a { color: #4c4c4c; text-decoration: none; }
          span { color: #808080; }
        }
      }
      .right {
        float: right; width: 180px; overflow: hidden;
        .date {
          font-size: 12px; line-height: 14px;color: #808080;
          margin: 0 0 20px;
          strong { color: #4c4c4c; font-weight: bold; }
        }
        .btn {
          margin: 0 0 10px; font-size: 12px; 
          button {margin: 0 7px 0 0;}
          a { color: #666; border-bottom: 1px dashed #666; text-decoration: none; }
          a:hover { border: none; }
        }
        .price {
          background: #f5f5f5; border-radius: 5px; overflow: hidden; margin: 0 0 10px;
          .pr {
            padding: 10px 20px 20px;
            p {
              color: #999; font-size: 12px; line-height: 28px;
            }
            strong {
              display: block; font-size: 26px; font-weight: bold; color: #333333;
              margin: -10px 0 10px 0;
            }
            button {
              width: 100%;
            }
          }
          .bg {
            background: #e6e6e6; height: 30px; line-height: 30px;
            font-size: 12px; color: #4c9d2f; padding: 0 20px;
            i {margin: 0 5px 0 0;}
            em {border-bottom: 1px dashed #4c9d2f;}
          }
        }
      }
    }
    .images {
      width: 255px;
      float: left;
      &> img {
        display: block;
      }
      .mini {
        margin: 10px 0 0 -5px;
        a {
          display: block; float: left; margin: 0 0 5px 5px;
        }
        img {
          display: block;
        }
      }
    }
  }
}

.popup_wrapper_login {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%; z-index: 9000;
  display: none;
  .popup_login {
    width: 280px; position: absolute; top: 135px; left: 50%;
    margin: 0 0 0 200px; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #f5f5f5; border: 1px solid #d6d6d6; border-radius: 6px;
    .link {
      text-align: center; border-top: 1px solid #e0e0e0; box-shadow: inset 0 1px 0 #fff;
      height: 40px; line-height: 40px;
      a {
        color: #808080;
      }
    }
    form {
      padding: 0 19px;
      .field {
        margin: 0 0 10px;
        label { width: 60px; float: left; font-size: 12px; color: #808080; padding: 5px 0 0 0;  }
        .input { margin: 0 0 0 60px; }
      }
      .btn {
        text-align: right; margin: 0 0 10px;
      }
    }
    .tabs {
      margin: 0 0 20px;
      li {
        width: 50%; float: left;
        a {
          display: block; height: 39px; line-height: 39px; text-decoration: none;
          text-align: center; color: #000000; font-size: 13px; font-weight: bold;
          position: relative;
          i.login_str {
            @extend .sprite-login_str_active;
            position: absolute; right: 40px; top: -6px;
          }
        }
        &.passive a {
          background: #e8e8e8; box-shadow: inset 4px -4px 4px rgba(0, 0, 0, 0.05);
          border-radius: 0 6px 0 6px; color: #666666;
          i.login_str {
            @extend .sprite-login_str_passive;
          }
          em { border-bottom: 1px dashed #666666; }
          &:hover em { border: none; }
        }
        &:first-child.passive a {
          border-radius: 6px 0 6px 0; box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .popup_menu {
    width: 220px; position: absolute; top: 135px; left: 50%; border-radius: 6px;
    margin: 0 0 0 260px; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #f5f5f5 url(../images/menu.png) repeat-x; border: 1px solid #d6d6d6; 
    .blue_str {
      position: absolute; top: -6px; right: 40px;
    }
    .name { padding: 13px 25px; font-weight: bold; color: #000; font-size: 13px; }
    i.icon {margin: 0 12px 0 0; vertical-align: -2px; &.marker1 { margin: 0 16px 0 0; } }
    ul {
      li {
        height: 26px; line-height: 26px; padding: 0 25px;
        a { text-decoration: none; color: #808080; font-size: 12px; }
        &:last-child {
          border-top: 1px solid #e0e0e0; box-shadow: inset 0 1px 0 #fff; padding: 0px 25px; height: 36px; line-height: 36px;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}





