@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.clear {
  height: 0;
  line-height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  clear: both;
}

.sprite-1keep, .sprite-after_logo, i.icon.after_logo, .sprite-after_menu_shadow, i.icon.after_menu_shadow, .sprite-blue_str, i.icon.blue_str, .sprite-box, i.icon.box, .sprite-cabinet, i.icon.cabinet, .sprite-camera, i.icon.camera, .sprite-card, i.icon.card, .sprite-check, i.icon.check, .sprite-city_str, i.icon.city_str, .sprite-close, i.icon.close, .sprite-dog, i.icon.dog, .sprite-down, i.icon.down, .sprite-download, i.icon.download, .sprite-exit, i.icon.exit, .sprite-favorite, i.icon.favorite, .sprite-favorite1, i.icon.favorite1, .sprite-footer_chunk, i.icon.footer_chunk, .sprite-hor_chunk, i.icon.hor_chunk, .sprite-login_str_active, .popup_wrapper_login .popup_login .tabs li a i.login_str, .sprite-login_str_passive, .popup_wrapper_login .popup_login .tabs li.passive a i.login_str, .sprite-logo, i.icon.logo, .sprite-marker, i.icon.marker, .sprite-marker1, i.icon.marker1, .sprite-market, i.icon.market, .sprite-market_str, i.icon.market_str, .sprite-market_white, i.icon.market_white, .sprite-menu_str, i.icon.menu_str, .sprite-new, i.icon.new, .sprite-phone, i.icon.phone, .sprite-remove, i.icon.remove, .sprite-remove_white, i.icon.remove_white, .sprite-search, i.icon.search, .sprite-select, body .customSelect i, .sprite-share, i.icon.share, .sprite-soc1, i.icon.soc1, .sprite-soc2, i.icon.soc2, .sprite-soc3, i.icon.soc3, .sprite-soc4, i.icon.soc4, .sprite-soc5, i.icon.soc5, .sprite-star, body .stars a.active, i.icon.star, .sprite-star_passive, body .stars a, i.icon.star_passive, .sprite-stats, i.icon.stats, .sprite-sum, section .complect .sum .bg, .sprite-sum1, section .order .right .sum, .sprite-top, i.icon.top, .sprite-top_active_left_bg, header ul li a:hover:before, .sprite-top_active_right_bg, header ul li a:hover:after, .sprite-up, i.icon.up, .sprite-user, i.icon.user, .sprite-user1, i.icon.user1 {
  background: url("../images/sprile.png") no-repeat;
}

.sprite-1keep {
  width: 1px;
  height: 1px;
  background-position: 0 0;
}

.sprite-after_logo, i.icon.after_logo {
  width: 70px;
  height: 70px;
  background-position: 0 -1px;
}

.sprite-after_menu_shadow, i.icon.after_menu_shadow {
  width: 215px;
  height: 31px;
  background-position: 0 -71px;
}

.sprite-blue_str, i.icon.blue_str {
  width: 16px;
  height: 6px;
  background-position: 0 -102px;
}

.sprite-box, i.icon.box {
  width: 14px;
  height: 14px;
  background-position: 0 -108px;
}

.sprite-cabinet, i.icon.cabinet {
  width: 7px;
  height: 5px;
  background-position: 0 -122px;
}

.sprite-camera, i.icon.camera {
  width: 55px;
  height: 55px;
  background-position: 0 -127px;
}

.sprite-card, i.icon.card {
  width: 42px;
  height: 45px;
  background-position: 0 -182px;
}

.sprite-check, i.icon.check {
  width: 8px;
  height: 8px;
  background-position: 0 -227px;
}

.sprite-city_str, i.icon.city_str {
  width: 6px;
  height: 12px;
  background-position: 0 -235px;
}

.sprite-close, i.icon.close {
  width: 30px;
  height: 30px;
  background-position: 0 -247px;
}

.sprite-dog, i.icon.dog {
  width: 14px;
  height: 14px;
  background-position: 0 -277px;
}

.sprite-down, i.icon.down {
  width: 15px;
  height: 16px;
  background-position: 0 -291px;
}

.sprite-download, i.icon.download {
  width: 32px;
  height: 34px;
  background-position: 0 -307px;
}

.sprite-exit, i.icon.exit {
  width: 14px;
  height: 14px;
  background-position: 0 -341px;
}

.sprite-favorite, i.icon.favorite {
  width: 13px;
  height: 13px;
  background-position: 0 -355px;
}

.sprite-favorite1, i.icon.favorite1 {
  width: 11px;
  height: 11px;
  background-position: 0 -368px;
}

.sprite-footer_chunk, i.icon.footer_chunk {
  width: 2px;
  height: 136px;
  background-position: 0 -379px;
}

.sprite-hor_chunk, i.icon.hor_chunk {
  width: 264px;
  height: 2px;
  background-position: 0 -515px;
}

.sprite-login_str_active, .popup_wrapper_login .popup_login .tabs li a i.login_str {
  width: 17px;
  height: 6px;
  background-position: 0 -517px;
}

.sprite-login_str_passive, .popup_wrapper_login .popup_login .tabs li.passive a i.login_str {
  width: 17px;
  height: 6px;
  background-position: 0 -523px;
}

.sprite-logo, i.icon.logo {
  width: 190px;
  height: 64px;
  background-position: 0 -529px;
}

.sprite-marker, i.icon.marker {
  width: 15px;
  height: 24px;
  background-position: 0 -593px;
}

.sprite-marker1, i.icon.marker1 {
  width: 10px;
  height: 14px;
  background-position: 0 -617px;
}

.sprite-market, i.icon.market {
  width: 36px;
  height: 30px;
  background-position: 0 -631px;
}

.sprite-market_str, i.icon.market_str {
  width: 9px;
  height: 5px;
  background-position: 0 -661px;
}

.sprite-market_white, i.icon.market_white {
  width: 24px;
  height: 20px;
  background-position: 0 -666px;
}

.sprite-menu_str, i.icon.menu_str {
  width: 3px;
  height: 6px;
  background-position: 0 -686px;
}

.sprite-new, i.icon.new {
  width: 76px;
  height: 76px;
  background-position: 0 -692px;
}

.sprite-phone, i.icon.phone {
  width: 20px;
  height: 24px;
  background-position: 0 -768px;
}

.sprite-remove, i.icon.remove {
  width: 18px;
  height: 18px;
  background-position: 0 -792px;
}

.sprite-remove_white, i.icon.remove_white {
  width: 18px;
  height: 18px;
  background-position: 0 -810px;
}

.sprite-search, i.icon.search {
  width: 16px;
  height: 13px;
  background-position: 0 -828px;
}

.sprite-select, body .customSelect i {
  width: 6px;
  height: 4px;
  background-position: 0 -841px;
}

.sprite-share, i.icon.share {
  width: 12px;
  height: 12px;
  background-position: 0 -845px;
}

.sprite-soc1, i.icon.soc1 {
  width: 36px;
  height: 36px;
  background-position: 0 -857px;
}

.sprite-soc2, i.icon.soc2 {
  width: 36px;
  height: 36px;
  background-position: 0 -893px;
}

.sprite-soc3, i.icon.soc3 {
  width: 36px;
  height: 36px;
  background-position: 0 -929px;
}

.sprite-soc4, i.icon.soc4 {
  width: 36px;
  height: 36px;
  background-position: 0 -965px;
}

.sprite-soc5, i.icon.soc5 {
  width: 36px;
  height: 36px;
  background-position: 0 -1001px;
}

.sprite-star, body .stars a.active, i.icon.star {
  width: 18px;
  height: 17px;
  background-position: 0 -1037px;
}

.sprite-star_passive, body .stars a, i.icon.star_passive {
  width: 18px;
  height: 17px;
  background-position: 0 -1054px;
}

.sprite-stats, i.icon.stats {
  width: 8px;
  height: 13px;
  background-position: 0 -1071px;
}

.sprite-sum, section .complect .sum .bg {
  width: 136px;
  height: 102px;
  background-position: 0 -1084px;
}

.sprite-sum1, section .order .right .sum {
  width: 220px;
  height: 135px;
  background-position: 0 -1186px;
}

.sprite-top, i.icon.top {
  width: 76px;
  height: 76px;
  background-position: 0 -1321px;
}

.sprite-top_active_left_bg, header ul li a:hover:before {
  width: 10px;
  height: 50px;
  background-position: 0 -1397px;
}

.sprite-top_active_right_bg, header ul li a:hover:after {
  width: 10px;
  height: 50px;
  background-position: 0 -1447px;
}

.sprite-up, i.icon.up {
  width: 15px;
  height: 16px;
  background-position: 0 -1497px;
}

.sprite-user, i.icon.user {
  width: 14px;
  height: 15px;
  background-position: 0 -1513px;
}

.sprite-user1, i.icon.user1 {
  width: 14px;
  height: 14px;
  background-position: 0 -1528px;
}

body {
  font: 13px/1.6 'Open Sans';
  color: #4c4c4c;
}
body a {
  color: #0092e1;
  text-decoration: underline;
}
body a:hover {
  text-decoration: none;
}
body a.ajax {
  text-decoration: none;
  border-bottom: 1px dashed #0092e1;
}
body a.ajax:hover {
  border: none;
}
body strong {
  font-weight: bold;
}
body input[type="text"] {
  border: 1px solid #d2d7d8;
  background: #f7f7f7;
  border-radius: 7px;
  height: 30px;
  width: 100%;
  font-size: 13px;
  padding: 0 13px;
  outline: none;
}
body input[type="text"].white {
  background: #fff;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.07);
}
body input[type="text"].big {
  height: 40px;
}
body .stars {
  font-size: 0;
}
body .stars a {
  display: inline-block;
}
body button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}
body button.gbd {
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  height: 30px;
  line-height: 28px;
  width: 100%;
  border-radius: 6px;
}
body button.cabinet {
  background: #f5f5f5;
  border: 1px solid #e1e1e1;
  box-shadow: inset 0 1px 0 #fff;
  color: #808080;
  padding: 0 6px;
  border-radius: 7px;
  text-shadow: 0px 1px 0 #fff;
  height: 50px;
}
body button.cabinet i.user {
  vertical-align: -3px;
  margin: 0 2px 0 0;
}
body button.cabinet i.cabinet {
  vertical-align: 1px;
  margin: 0 0 0 1px;
}
body button.search {
  padding: 3px 0 0 6px;
  display: block;
  border-left: 1px solid #dfe6e7;
}
body button.order {
  background: url(../images/button.png);
  height: 40px;
  padding: 0 25px;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 -1px 0 #a83e34;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #db3f30;
}
body button.order.little {
  height: 30px;
}
body button.order.gray_color {
  background: url(../images/button3.png);
  border-color: #999999;
}
body button.market {
  background: url(../images/button1.png) no-repeat;
  width: 130px;
  height: 31px;
  font-size: 13px;
  text-shadow: 0 -1px 0 #a83e34;
  color: #fff;
  text-align: left;
  border-radius: 5px;
}
body button.market i.icon {
  vertical-align: -6px;
  margin: 0 20px 0 10px;
}
body button.market.big {
  background: url(../images/button2.png) no-repeat;
  height: 41px;
}
body button:hover {
  opacity: 0.85;
}
body button.gray {
  height: 31px;
  width: 30px;
  background: #e6e6e6;
  box-shadow: inset 0 2px 0 #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-radius: 5px;
  margin: 0 0 0 5px;
}
body button.gray:hover {
  background: #d9d9d9;
  box-shadow: inset 0 2px 0 #e4e4e4;
}
body button.gray1 {
  background: #f6f6f6;
  border: 1px solid #f1f1f1;
  box-shadow: inset 0 -1px 1px #fff;
  height: 52px;
  line-height: 50px;
  color: #4c4c4c;
  font-size: 12px;
  border-radius: 5px;
}
body .hasCustomSelect {
  position: relative;
  z-index: 40;
}
body .customSelect {
  background: #fcfcfc;
  border: 1px solid #efefef;
  height: 31px;
  padding: 0 25px 0 9px;
  position: relative;
  width: 100%;
  display: block;
  line-height: 29px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  z-index: 30;
  border-radius: 4px;
}
body .customSelect i {
  display: block;
  position: absolute;
  top: 13px;
  right: 10px;
}

i.icon {
  display: inline-block;
}
i.icon.city_str {
  position: absolute;
  top: 9px;
  left: -6px;
}
i.icon.market_str {
  vertical-align: 3px;
}
i.icon.card {
  vertical-align: -19px;
}
i.icon.download {
  vertical-align: -12px;
}
i.icon.up {
  vertical-align: -2px;
}
i.icon.down {
  vertical-align: -6px;
}
i.icon.share {
  vertical-align: -1px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

.wrap.main {
  padding: 20px 0 30px 0;
}

header {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  background: #fafafa;
}
header .line {
  background: url(../images/top.png);
  border-bottom: 1px solid #d9d9d9;
}
header div.logo {
  width: 300px;
  position: relative;
  height: 100px;
  border-right: 1px solid #fff;
  float: left;
}
header div.logo i.logo {
  position: absolute;
  top: 9px;
  left: 0;
}
header div.logo i.after_logo {
  position: absolute;
  top: 16px;
  left: 212px;
}
header div.logo p {
  position: absolute;
  top: 78px;
  left: 0;
  font-size: 11px;
  color: #505050;
}
header div.market {
  width: 180px;
  position: relative;
  height: 100px;
  float: left;
  border-right: 1px solid #fff;
  border-left: 1px solid #e0e0e0;
  padding: 39px 0 0 19px;
}
header div.market > i.market {
  float: left;
  margin: 0 13px 0 0;
  position: relative;
}
header div.market > i.market span.count {
  position: absolute;
  background: #f1594b;
  border: 2px solid #f0f0f0;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  top: -12px;
  left: 24px;
}
header div.market > p {
  font-size: 11px;
  color: #b2b2b2;
  line-height: 21px;
  margin: -10px 0 0 0;
}
header div.market > .price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 21px;
}
header div.market .over {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px 0 20px 0;
  background: #f0f0f0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  width: 450px;
  border-radius: 0 0 5px 5px;
  z-index: 6000;
  display: none;
}
header div.market .over .subitems {
  border-top: 1px solid #cccccc;
  margin: -1px 0 0;
}
header div.market .over .subitem {
  border-top: 1px solid #dcdcde;
  background: #e8e8eb;
  padding: 10px 20px;
}
header div.market .over .subitem:first-child {
  border-top: none;
}
header div.market .over .subitem .t {
  display: table;
  width: 100%;
}
header div.market .over .subitem .r {
  display: table-row;
}
header div.market .over .subitem .name {
  display: table-cell;
  width: 248px;
  vertical-align: middle;
  font-size: 12px;
  color: #4c4c4c;
  line-height: 14px;
  padding: 0 40px 0 0;
}
header div.market .over .subitem .count {
  display: table-cell;
  width: 45px;
  vertical-align: middle;
  font-size: 13px;
}
header div.market .over .subitem .price {
  display: table-cell;
  width: 86px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 13px;
  color: #4d4d4d;
}
header div.market .over .subitem .remove {
  display: table-cell;
  width: 20px;
  vertical-align: middle;
}
header div.market .over .subitem .remove_white {
  vertical-align: middle;
}
header div.market .over .item {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #fff;
  padding: 10px 20px;
}
header div.market .over .item .t {
  display: table;
  width: 100%;
}
header div.market .over .item .r {
  display: table-row;
}
header div.market .over .item .image {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 0;
  width: 50px;
}
header div.market .over .item img {
  display: block;
}
header div.market .over .item .name {
  display: table-cell;
  width: 160px;
  padding: 0 30px 0 0;
  font-size: 12px;
  color: #4d4d4d;
  line-height: 15px;
  vertical-align: middle;
}
header div.market .over .item .count {
  display: table-cell;
  width: 65px;
}
header div.market .over .item .price {
  display: table-cell;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 15px;
  vertical-align: middle;
  width: 85px;
}
header div.market .over .item .remove {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
}
header div.market .over .item:first-child {
  border-top: none;
}
header div.market .over .price_order {
  padding: 25px 20px 0;
}
header div.market .over .price_order p {
  float: left;
  line-height: 40px;
  color: #808080;
  font-size: 12px;
}
header div.market .over .price_order p strong {
  font-size: 18px;
  font-weight: bold;
  color: #323e48;
  padding: 0 0 0 4px;
}
header div.market .over .price_order button {
  float: right;
}
header div.market:hover {
  background: #f0f0f0;
  border-right-color: #e4e4e4;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.05);
}
header div.market:hover .over {
  display: block;
}
header div.phones {
  width: 310px;
  float: left;
  height: 100px;
  padding: 19px 17px 0;
  border-right: 1px solid #fff;
  border-left: 1px solid #e0e0e0;
}
header div.phones .phone {
  float: left;
  line-height: 13px;
  padding: 0 6px 0 0;
}
header div.phones .phone div, header div.phones .phone strong {
  display: block;
  font-size: 15px;
}
header div.phones .phone div strong, header div.phones .phone strong strong {
  display: inline;
}
header div.phones .phone p {
  text-align: right;
  font-size: 11px;
  color: #b2b2b2;
}
header div.phones .phone.right {
  padding: 0 0 5px 6px;
  border-left: 1px solid #d9d9d9;
}
header div.phones form {
  position: relative;
  margin: 10px 0 0 0;
}
header div.phones form input {
  padding: 0 40px 0 13px;
}
header div.phones form button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: #f7f7f7;
}
header div.cabinet {
  float: left;
  width: 170px;
  border-left: 1px solid #e0e0e0;
  height: 100px;
  padding: 24px 0 0 20px;
}
header div.cabinet button {
  width: 100%;
}
header .region {
  padding: 4px 10px 0 0;
  height: 50px;
  float: left;
  line-height: 46px;
  background: url(../images/top_left.png) no-repeat right top;
}
header .region .all_right {
  display: inline-block;
  height: 32px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  font-size: 11px;
  color: #a2a2a2;
  border-radius: 5px;
  position: relative;
  padding: 0 10px;
  margin: 0 0 0 10px;
}
header .region .all_right a {
  text-decoration: none;
  margin: 0 0 0 10px;
}
header ul {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 -23px 0 0;
}
header ul li {
  float: left;
}
header ul li a {
  padding: 4px 23px 0;
  display: block;
  height: 50px;
  line-height: 46px;
  color: #86898c;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
header ul li a:hover {
  background: url(../images/top_active_bg.png) repeat top left;
}
header ul li a:hover:before, header ul li a:hover:after {
  content: ' ';
  position: absolute;
  top: 0;
}
header ul li a:hover:before {
  left: 0;
}
header ul li a:hover:after {
  right: 0;
}

aside {
  width: 220px;
  float: left;
  position: relative;
}
aside nav {
  background: whitesmoke url(../images/menu.png) top left repeat-x;
  margin: 0 0 30px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding: 10px 0 6px;
}
aside nav i.after_menu_shadow {
  z-index: -1;
  position: absolute;
  bottom: -20px;
  right: -6px;
}
aside nav > li {
  line-height: 1;
}
aside nav > li > a {
  display: block;
  text-decoration: none;
  border: 1px solid #f5f5f5;
  border-width: 1px 0;
  color: #4c4c4c;
  line-height: 13px;
  font-size: 13px;
  padding: 8.5px 10px 8.5px 20px;
  position: relative;
  z-index: 700;
}
aside nav > li > a i.menu_str {
  position: absolute;
  top: 50%;
  right: 10px;
  margin: -3px 0 0 0;
}
aside nav > li > a i.white {
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  background: #fff;
  display: none;
}
aside nav > li ul {
  position: absolute;
  border: 1px solid #e0e0e0;
  border-width: 1px 1px 1px 0;
  padding: 6px 0 0 20px;
  top: 3px;
  left: 221px;
  width: 230px;
  border-radius: 0 5px 5px 0;
  background: #fff;
  min-height: 98%;
  box-shadow: inset 3px 0 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 600;
  display: none;
}
aside nav > li ul li {
  line-height: 30px;
}
aside nav > li ul li a {
  display: block;
  font-size: 13px;
  color: #4c4c4c;
  text-decoration: none;
}
aside nav > li ul li a:hover {
  color: #0092e1;
}
aside nav > li:hover > a, aside nav > li.hover > a {
  background: #fff;
  border-color: #e9e9e9;
}
aside nav > li:hover ul, aside nav > li.hover ul {
  display: block;
}
aside nav > li:hover i.white, aside nav > li.hover i.white {
  display: block;
}
aside .banner {
  margin: 0 0 20px;
}
aside .banner img {
  display: block;
}
aside .text {
  border-top: 1px solid #e6e6e6;
  padding: 14px 0 0 0;
}
aside .text .label {
  font-weight: bold;
  font-size: 13px;
  color: #323e48;
  text-transform: uppercase;
  border-left: 2px solid #0092e1;
  padding: 0 0 0 7px;
  line-height: 1;
  margin: 0 0 9px;
}
aside .text p {
  font-size: 12px;
  color: #808080;
  line-height: 16px;
  margin: 0 0 7px;
}

section {
  float: right;
  width: 720px;
  position: relative;
}
section .carusel {
  margin: 0 0 14px;
}
section .carusel .border {
  border-radius: 5px;
  overflow: hidden;
}
section .carusel .border img {
  display: block;
}
section .carusel .border ul {
  width: 10000px;
}
section .carusel .border li {
  float: left;
  width: 790px;
}
section .carusel .points {
  font-size: 0;
  text-align: center;
  margin: 10px 0 0 0;
}
section .carusel .points a {
  display: inline-block;
  height: 5px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 5px;
  margin: 0 2px;
}
section .carusel .points a.active {
  background: #999999;
}
section .items {
  margin: 0 0 25px;
}
section .items .title {
  font-size: 18px;
  margin: 0 0 7px;
}
section .items .title a {
  color: #f1594b;
}
section .items .line {
  margin-bottom: 15px;
}
section .items .line:last-child {
  margin: 0;
}
section .item {
  width: 230px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 0 0 15px;
}
section .item .image {
  display: table;
  width: 100%;
  height: 184px;
}
section .item .image a {
  height: 184px;
  display: table-row;
}
section .item .image span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
section .item .image img {
  margin: 0 auto;
  display: block;
}
section .item .image i.icon {
  position: absolute;
  top: 0;
  left: 0;
}
section .item .image em {
  position: absolute;
  top: 77px;
  left: 50%;
  text-align: center;
  width: 180px;
  height: 40px;
  margin: 0 0 0 -90px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #dedede;
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 12px;
  display: none;
  cursor: pointer;
}
section .item .image em i {
  border-bottom: 1px dashed #4c4c4c;
}
section .item .image em:hover i {
  border: none;
}
section .item .image:hover em {
  display: block;
}
section .item .data {
  background: url(../images/item_data.png) repeat-x;
  border-bottom: 1px solid #e6e6e6;
  height: 110px;
  padding: 0 15px;
}
section .item .data .title {
  padding: 14px 0 10px 0;
  line-height: 16px;
}
section .item .data .title a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
section .item .data .stars {
  float: left;
  margin: 0 0 3px;
}
section .item .data .size {
  color: #4c4c4c;
  font-size: 12px;
}
section .item .data .size span {
  color: #808080;
}
section .item .data .opinions {
  float: left;
  width: 90px;
  margin: -2px 0 0 5px;
  font-size: 12px;
}
section .item .data .opinions a {
  color: #4c4c4c;
  text-decoration: none;
}
section .item .data .opinions span {
  color: #808080;
}
section .item .price {
  height: 87px;
  padding: 0 15px;
}
section .item .price .pr {
  font-size: 18px;
  font-weight: bold;
  color: #262626;
  padding: 9px 0 5px 0;
}
section .item .price .pr span {
  font-size: 13px;
  color: #999999;
  text-decoration: line-through;
  padding: 0 0 0 5px;
}
section .item .price .net {
  color: #999999;
  padding: 11px 0 9px 0;
}
section .item .price button {
  float: left;
}
section .item:first-child {
  margin: 0;
}
section .text {
  font-size: 13px;
}
section .text h3 {
  font-size: 16px;
  color: #323e48;
  font-weight: 600;
  margin: 0 0 10px;
}
section .text ul {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 23px;
}
section .text ul li:before {
  content: '•';
  padding: 0 15px 0 0;
}
section .text p {
  margin: 0 0 7px;
  color: #4c4c4c;
  line-height: 16px;
}
section .promos {
  margin: 40px 0 30px 0;
}
section .promos .promo {
  border-bottom: 1px solid #d9d9d9;
  background: #fafafa;
  margin: 0 0 9px;
  overflow: hidden;
  position: relative;
}
section .promos .promo i.camera {
  position: absolute;
  top: 0;
  right: 0;
}
section .promos .promo img {
  float: left;
}
section .promos .promo .data {
  margin: 0 0 0 240px;
  text-align: center;
  padding: 10px 20px 0;
}
section .promos .promo .data .label {
  font-size: 20px;
  color: #323e48;
  font-weight: 600;
  padding: 0 0 8px;
  background: url(../images/line.png) no-repeat bottom center;
  margin: 0 0 7px;
}
section .promos .promo .data p {
  font-size: 12px;
  color: #4c4c4c;
  font-style: italic;
  line-height: 16px;
}
section .promos .promo:nth-child(even) img {
  float: right;
}
section .promos .promo:nth-child(even) .data {
  margin: 0 240px 0 0;
}
section .bread {
  color: #808080;
  font-size: 13px;
  margin: -3px 0 10px 0;
}
section .bread a {
  color: #808080;
  text-decoration: none;
}
section .page {
  font-size: 20px;
  font-weight: bold;
  color: #323e48;
  margin: 0 0 10px;
}
section .promo-line {
  height: 40px;
  line-height: 40px;
  background: url(../images/promo_line.png) no-repeat;
  font-size: 13px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 0 0 20px;
}
section .promo-line a {
  color: #fff;
}
section .promo-line p {
  float: left;
  font-style: italic;
}
section .promo-line p:not(.r) {
  font-weight: bold;
  font-size: 16px;
}
section .promo-line p.r {
  float: right;
}
section .filter {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 0 0 12px 18px;
  margin: 0 0 10px;
}
section .filter .c {
  float: left;
  margin: 0 18px 0 0;
  padding: 8px 0 0 0;
}
section .filter .w82 {
  width: 82px;
}
section .filter .w152 {
  width: 152px;
}
section .filter label {
  font-size: 12px;
  color: #666;
  display: block;
  margin: 0 0 2px;
}
section .pagination {
  background: #fafafa;
  padding: 10px 15px;
  margin: 0 0 20px;
}
section .pagination ul {
  overflow: hidden;
}
section .pagination ul li {
  float: left;
  margin: 0 3px 0 0;
}
section .pagination ul li a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #999999;
  background: #fcfcfc;
  border-bottom: 1px solid #cccccc;
  height: 30px;
  width: 30px;
  text-align: center;
  box-shadow: inset 0 2px 0 #fdfdfd;
  line-height: 30px;
  border-radius: 4px;
}
section .pagination ul li a.active {
  background: #f1594b;
  border: none;
  color: #fff;
  box-shadow: inset 0 1px 0 #db3f30;
}
section .pagination ul li.first a {
  width: 80px;
}
section .pagination ul li.last a {
  width: 80px;
}
section .details {
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #808080;
  padding: 0 0 7px;
}
section .details .stars {
  display: inline-block;
  vertical-align: -4px;
  padding: 0 5px 0 0;
}
section .details .stars a {
  border: none;
}
section .details a {
  text-decoration: none;
  border-bottom: 1px dashed #0092e1;
}
section .details a:hover {
  border: none;
}
section .details span {
  padding: 0 2px;
  color: #d9d9d9;
}
section .details em {
  float: right;
  color: #7f7f7f;
  padding: 2px 0 0 0;
}
section .item_page .date {
  text-align: right;
  color: #808080;
  font-size: 12px;
  padding: 14px 0 5px;
}
section .item_page .date strong {
  font-weight: bold;
  color: #4c4c4c;
}
section .item_page .images {
  float: left;
  width: 340px;
}
section .item_page .images .t {
  display: table;
  width: 100%;
  margin: 0 0 20px;
}
section .item_page .images .r {
  display: table-row;
}
section .item_page .images .c {
  display: table-cell;
  height: 310px;
  vertical-align: middle;
}
section .item_page .images .c img {
  display: block;
  margin: 0 auto;
}
section .item_page .images .mini a {
  display: block;
  float: left;
  margin: 0 0 0 5px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
section .item_page .images .mini a img {
  display: block;
}
section .item_page .right {
  float: right;
  width: 360px;
}
section .item_page .right .label {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 0 0;
  line-height: 24px;
}
section .item_page .right .btns {
  font-size: 0;
  overflow: hidden;
  margin: 0 0 10px;
}
section .item_page .right .btns button:first-child {
  float: left;
  width: 202px;
}
section .item_page .right .btns button:last-child {
  float: right;
  width: 152px;
}
section .item_page .right .btns i.icon {
  margin: 0 15px 0 0;
}
section .item_page .right dl {
  background: url(../images/dot.png) 0 16px repeat-x;
  overflow: hidden;
  line-height: 24px;
}
section .item_page .right dl dt {
  float: left;
  background: #fff;
  padding: 0 1px 0 0;
}
section .item_page .right dl dd {
  width: 160px;
  background: #fff;
  float: right;
  padding: 0 0 0 1px;
}
section .item_page .right .price {
  background: #fcfcfc;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 10px;
}
section .item_page .right .price .pr {
  padding: 10px 20px 5px;
}
section .item_page .right .price .pr p {
  color: #999;
  font-size: 12px;
  line-height: 28px;
}
section .item_page .right .price .pr strong {
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: #333333;
  margin: -10px 0 -5px 0;
}
section .item_page .right .price .pr button {
  float: right;
  margin: 20px 0 0 0;
}
section .item_page .right .price .bg {
  background: #ededed;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 20px;
}
section .item_page .right .price .bg .green {
  color: #4c9d2f;
  display: inline-block;
  padding: 0 10px 0 0;
}
section .item_page .right .price .bg .green i {
  margin: 0 5px 0 0;
}
section .item_page .right .price .bg a {
  text-decoration: none;
  color: #666666;
}
section .item_page .right .price .bg a em {
  border-bottom: 1px dashed #666;
}
section .item_page .right .price .bg a i.favorite1 {
  vertical-align: -2px;
  margin: 0 4px 0 0;
}
section .item_page .right .price .bg a:hover em {
  border: none;
}
section .opinions {
  margin: 30px 0 40px;
}
section .opinions h3 {
  font-weight: 600;
  font-size: 18px;
  color: #4c4c4c;
  margin: 0 0 10px;
}
section .opinions ul li {
  background: #fcfcfc;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 2px #f2f2f2;
  margin: 0 0 10px;
}
section .opinions ul li .info {
  width: 110px;
  float: left;
}
section .opinions ul li .info p {
  font-size: 13px;
  color: #4c4c4c;
  font-weight: 600;
  line-height: 15px;
}
section .opinions ul li .info small {
  font-weight: normal;
  font-size: 12px;
  color: #b2b2b2;
  display: block;
  padding: 0 0 5px;
}
section .opinions ul li .info .stars {
  margin: 0 0 10px;
}
section .opinions ul li .info button {
  margin: 10px 0 0 0;
}
section .opinions ul li .info button.l {
  float: left;
  width: 50px;
}
section .opinions ul li .info button.r {
  float: right;
  width: 50px;
}
section .opinions ul li .info button i.icon {
  margin: 0 7px 0 0;
}
section .opinions ul li .data {
  margin: 0 0 0 140px;
  line-height: 16px;
  font-size: 12px;
  color: #808080;
}
section .complect {
  margin: 30px 0 40px;
}
section .complect h3 {
  font-weight: 600;
  font-size: 18px;
  color: #4c4c4c;
  margin: 0 0 10px;
}
section .complect .sum {
  float: right;
  margin: 100px 0 0;
}
section .complect .sum .bg {
  text-align: center;
  padding: 16px 0 0 0;
}
section .complect .sum p {
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  margin: 0 0 10px;
}
section .complect .sum .price {
  font-size: 20px;
  font-weight: bold;
  color: #323e48;
}
section .complect .sum button {
  width: 100%;
  margin: 10px 0 0 0;
}
section .complect ul {
  width: 575px;
  float: left;
}
section .complect ul li {
  padding: 10px 20px;
  position: relative;
}
section .complect ul li img:not(.big) {
  float: left;
}
section .complect ul li img.big {
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  left: -240px;
  top: -85px;
  border-radius: 10px;
  display: none;
  z-index: 100500;
}
section .complect ul li .data {
  margin: 5px 125px 0 70px;
}
section .complect ul li .data p {
  font-size: 13px;
  line-height: 16px;
}
section .complect ul li .data p a {
  color: #0092e1;
}
section .complect ul li .data p small {
  font-size: 12px;
  color: #808080;
}
section .complect ul li .data p.price {
  font-size: 16px;
  color: #4c4c4c;
  float: right;
  font-weight: bold;
  padding: 16px 0 0 10px;
}
section .complect ul li button {
  float: right;
  width: 100px;
  padding: 0;
  margin: 10px 0 0;
}
section .complect ul li:nth-child(odd) {
  background: #f0f0f0;
}
section .complect ul li.active {
  box-shadow: inset 3px 0 0 #6ba53a;
}
section .complect ul li:hover img.big {
  display: block;
}
section .market {
  margin: 0 0 20px;
}
section .market h3 {
  font-size: 20px;
  font-weight: bold;
  color: #323e48;
  margin: 0 0 10px;
}
section .market-elem {
  margin: 0 0 10px;
}
section .market-elem .main {
  overflow: hidden;
  position: relative;
  z-index: 200;
  background: #fafafa;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}
section .market-elem .main img {
  float: left;
}
section .market-elem .main .title {
  width: 380px;
  float: left;
  margin: 0 0 0 20px;
  font-size: 13px;
  color: #4d4d4d;
  line-height: 60px;
}
section .market-elem .main .count {
  width: 45px;
  float: left;
  line-height: 60px;
}
section .market-elem .main a.remove {
  float: right;
  margin: 20px 0 0 40px;
}
section .market-elem .main .price {
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 60px;
}
section .market-elem .main .double {
  line-height: 18px;
  padding: 11px 0 0 0;
}
section .market-elem .main .double span {
  color: #b2b2b2;
  font-size: 13px;
  font-weight: normal;
  display: block;
}
section .market-elem .sub {
  overflow: hidden;
  background: #f5f5f5;
  position: relative;
  padding: 10px 12px 10px 30px;
  margin: 0 10px;
  z-index: 100;
  border-bottom: 1px solid #dcdcde;
}
section .market-elem .sub img {
  float: left;
}
section .market-elem .sub .title {
  width: 380px;
  float: left;
  margin: 0 0 0 20px;
  line-height: 40px;
}
section .market-elem .sub .count {
  float: left;
  line-height: 40px;
}
section .market-elem .sub a.remove {
  float: right;
  margin: 10px 0 0 40px;
}
section .market-elem .sub .price {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 40px;
}
section .market-elem .sub:last-child {
  border: none;
  border-radius: 0 0 7px 7px;
}
section .order h3 {
  font-size: 16px;
  font-weight: bold;
  color: #323e48;
  margin: 0 0 10px;
}
section .order .left {
  float: left;
  width: 480px;
  background: #fafafa;
  border-radius: 8px;
  padding: 20px;
}
section .order .left .field {
  margin: 0 0 10px;
}
section .order .left .field:last-child {
  margin: 0;
}
section .order .left .field label {
  float: left;
  width: 110px;
  text-align: right;
  padding: 4px 0 0 0;
}
section .order .left .field .input {
  margin: 0 0 0 130px;
}
section .order .right {
  float: right;
  width: 220px;
}
section .order .right .captcha {
  padding: 20px 0 0 0;
  text-align: center;
}
section .order .right .captcha img {
  float: left;
}
section .order .right .captcha .field {
  margin: 0 0 0 90px;
  font-size: 11px;
  color: #323e48;
}
section .order .right .captcha button {
  margin: 20px 0 0 0;
}
section .order .right .sum {
  padding: 18px 19px 0;
}
section .order .right .sum dl {
  overflow: hidden;
  line-height: 30px;
}
section .order .right .sum dl dt {
  float: left;
  font-size: 12px;
  color: #808080;
}
section .order .right .sum dl dd {
  float: right;
  font-weight: bold;
  color: #323e48;
  font-size: 14px;
}
section .order .right .sum dl dd strong {
  font-size: 20px;
}
section .cabinet h3 {
  font-size: 16px;
  font-weight: bold;
  color: #323e48;
  margin: 0 0 10px;
}
section .cabinet .tabs {
  border-bottom: 3px solid #e2e1dc;
  margin: 0 0 15px;
}
section .cabinet .tabs li {
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin: 0 30px 0 0;
}
section .cabinet .tabs li a {
  display: block;
  text-decoration: none;
  color: #808080;
  padding: 0 0 4px;
}
section .cabinet .tabs li a.active {
  border-bottom: 3px solid #0092e1;
  margin: 0 0 -3px;
  color: #333333;
}
section .cabinet .tabs li a:hover {
  border-bottom: 3px solid #0092e1;
  margin: 0 0 -3px;
}
section .user-data h3 {
  font-weight: bold;
  font-size: 16px;
  color: #4d4d4d;
}
section .user-data .bg {
  background: #fafafa;
  border-radius: 7px;
  padding: 20px;
}
section .user-data .field {
  overflow: hidden;
  margin: 0 0 10px;
}
section .user-data .field label {
  text-align: right;
  font-size: 12px;
  padding: 5px 0 0 0;
  font-weight: bold;
  color: #4d4d4d;
}
section .user-data .field label.double {
  padding: 0;
  line-height: 14px;
}
section .user-data .field .input button {
  float: right;
  white-space: nowrap;
}
section .user-data .field:last-child {
  margin: 0;
}
section .user-data .left {
  width: 400px;
  float: left;
}
section .user-data .left .field label {
  float: left;
  width: 110px;
}
section .user-data .left .field .input {
  margin: 0 0 0 130px;
}
section .user-data .right {
  width: 300px;
  float: right;
}
section .user-data .right .bg {
  padding: 20px 20px 20px 0;
}
section .user-data .right .field label {
  width: 110px;
  float: left;
}
section .user-data .right .field .input {
  margin: 0 0 0 130px;
}
section .user-orders .subtabs {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 5px;
  float: left;
  margin: 10px 0 10px;
}
section .user-orders .subtabs li {
  float: left;
  border-left: 1px solid #d9d9d9;
}
section .user-orders .subtabs li:first-child {
  border: none;
}
section .user-orders .subtabs li a {
  color: #4c4c4c;
  text-decoration: none;
  display: block;
  line-height: 30px;
  padding: 0 20px;
}
section .user-orders .subtabs li a.active {
  background: #808080;
  color: #fff;
  box-shadow: inset 0 1px 0 #606060;
}
section .user-orders .user-order {
  background: #fcfcfc;
  display: table;
  width: 100%;
  height: 50px;
  margin: 0 0 5px;
  border-radius: 5px;
}
section .user-orders .user-order .r {
  display: table-row;
  font-size: 12px;
  color: #4c4c4c;
  font-weight: 600;
}
section .user-orders .user-order .r .num {
  display: table-cell;
  vertical-align: middle;
  width: 159px;
  padding: 0 0 0 20px;
}
section .user-orders .user-order .r .num a {
  text-decoration: none;
  border-bottom: 1px dashed #0092e1;
}
section .user-orders .user-order .r .num a:hover {
  border: none;
}
section .user-orders .user-order .r .date {
  display: table-cell;
  vertical-align: middle;
  width: 90px;
}
section .user-orders .user-order .r .dost {
  display: table-cell;
  vertical-align: middle;
  width: 190px;
}
section .user-orders .user-order .r .status {
  display: table-cell;
  vertical-align: middle;
  width: 196px;
}
section .user-orders .user-order .r .price {
  display: table-cell;
  vertical-align: middle;
  width: 84px;
}
section .search form {
  overflow: hidden;
  padding: 0 0 20px;
}
section .search form input {
  float: left;
  width: 360px;
}
section .search form button {
  float: left;
  margin: 0 0 0 20px;
}
section .search .categories {
  overflow: hidden;
  padding: 0 0 20px;
}
section .search .categories a {
  display: block;
  float: left;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #4c4c4c;
  background: #f7f7f7;
  margin: 0 10px 10px 0;
  font-size: 12px;
  border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #d9d9d9;
}
section .search .categories a em {
  border-bottom: 1px dashed #4c4c4c;
}
section .search .categories a.active {
  background: #0092e1;
  color: #fff;
}
section .search .categories a.active em {
  border-color: #fff;
}
section .search .categories a:hover em {
  border: none;
}

footer .line {
  background: #e6e6e6;
}
footer .line1 {
  background: #323e48;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
}
footer .social {
  float: right;
  padding: 27px 0 0 0;
}
footer .social a {
  float: left;
  margin: 0 0 0 5px;
}
footer .copyright {
  float: left;
  width: 550px;
  padding: 18px 0 22px;
}
footer .copyright p {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 7px;
  color: #707980;
}
footer .copyright p:last-child {
  margin: 0;
}
footer ul {
  line-height: 22px;
  font-size: 12px;
  float: left;
  position: relative;
  padding: 25px 0;
  width: 190px;
  margin: 0 30px 0 0;
}
footer ul a {
  color: #4c4c4c;
  text-decoration: none;
}
footer ul i.icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -68px 0 0 0;
}
footer ul.mini {
  width: 165px;
}
footer .address {
  float: right;
  width: 270px;
}
footer .address i.icon {
  float: left;
}
footer .address div.phones {
  padding: 25px 0 0 0;
}
footer .address div.phones p {
  font-size: 11px;
  color: #808080;
  line-height: 25px;
  margin: -3px 0 0 0;
}
footer .address div.phones p strong {
  font-size: 15px;
  color: #000;
  width: 140px;
  text-align: right;
  display: inline-block;
}
footer .address div.phones i.phone {
  margin: 10px 10px 10px 0;
}
footer .address div.phones i.hor_chunk {
  float: none;
  margin: 5px auto 0;
  display: block;
}
footer .address div.marker {
  padding: 6px 0 0;
}
footer .address div.marker p {
  font-style: italic;
  font-size: 13px;
  line-height: 15px;
}
footer .address div.marker i.marker {
  margin: 2px 15px 0 0;
}
footer .logo {
  float: left;
  width: 260px;
  padding: 20px 0 0 0;
}
footer .logo p {
  font-size: 11px;
  color: #505050;
  padding: 4px 0 0;
  clear: both;
}

.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  overflow-y: auto;
  z-index: 9000;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.popup_wrapper .popup {
  margin: 0 auto;
  width: 960px;
  border-radius: 10px;
  position: relative;
  background: #fcfcfc;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
  padding: 30px 30px 50px;
}
.popup_wrapper .popup.city {
  width: 560px;
  padding: 30px;
}
.popup_wrapper .popup.city .label {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 10px;
}
.popup_wrapper .popup.city .field {
  margin: 0 0 15px;
}
.popup_wrapper .popup.city .cols {
  overflow: hidden;
}
.popup_wrapper .popup.city .cols .col {
  float: left;
  width: 33.3%;
  line-height: 23px;
}
.popup_wrapper .popup.city .cols .col .active {
  font-weight: bold;
}
.popup_wrapper .popup.city .cols .col a {
  text-decoration: none;
  color: #333333;
}
.popup_wrapper .popup a.close {
  position: absolute;
  top: -15px;
  right: -15px;
}
.popup_wrapper .popup .data {
  margin: 0 0 0 290px;
}
.popup_wrapper .popup .data .title {
  font-size: 18px;
  color: #323e48;
  font-weight: bold;
  line-height: 22px;
  margin: 0 0 10px;
}
.popup_wrapper .popup .data .left {
  width: 370px;
  float: left;
  overflow: hidden;
}
.popup_wrapper .popup .data .left .stars {
  float: left;
}
.popup_wrapper .popup .data .left .label {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 0 0;
  line-height: 24px;
}
.popup_wrapper .popup .data .left dl {
  background: url(../images/dot.png) 0 16px repeat-x;
  overflow: hidden;
  line-height: 24px;
}
.popup_wrapper .popup .data .left dl dt {
  float: left;
  background: #fcfcfc;
  padding: 0 1px 0 0;
}
.popup_wrapper .popup .data .left dl dd {
  width: 160px;
  background: #fcfcfc;
  float: right;
  padding: 0 0 0 1px;
}
.popup_wrapper .popup .data .left .opinions {
  float: left;
  width: 90px;
  margin: -2px 0 0 5px;
  font-size: 12px;
}
.popup_wrapper .popup .data .left .opinions a {
  color: #4c4c4c;
  text-decoration: none;
}
.popup_wrapper .popup .data .left .opinions span {
  color: #808080;
}
.popup_wrapper .popup .data .right {
  float: right;
  width: 180px;
  overflow: hidden;
}
.popup_wrapper .popup .data .right .date {
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  margin: 0 0 20px;
}
.popup_wrapper .popup .data .right .date strong {
  color: #4c4c4c;
  font-weight: bold;
}
.popup_wrapper .popup .data .right .btn {
  margin: 0 0 10px;
  font-size: 12px;
}
.popup_wrapper .popup .data .right .btn button {
  margin: 0 7px 0 0;
}
.popup_wrapper .popup .data .right .btn a {
  color: #666;
  border-bottom: 1px dashed #666;
  text-decoration: none;
}
.popup_wrapper .popup .data .right .btn a:hover {
  border: none;
}
.popup_wrapper .popup .data .right .price {
  background: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 10px;
}
.popup_wrapper .popup .data .right .price .pr {
  padding: 10px 20px 20px;
}
.popup_wrapper .popup .data .right .price .pr p {
  color: #999;
  font-size: 12px;
  line-height: 28px;
}
.popup_wrapper .popup .data .right .price .pr strong {
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: #333333;
  margin: -10px 0 10px 0;
}
.popup_wrapper .popup .data .right .price .pr button {
  width: 100%;
}
.popup_wrapper .popup .data .right .price .bg {
  background: #e6e6e6;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #4c9d2f;
  padding: 0 20px;
}
.popup_wrapper .popup .data .right .price .bg i {
  margin: 0 5px 0 0;
}
.popup_wrapper .popup .data .right .price .bg em {
  border-bottom: 1px dashed #4c9d2f;
}
.popup_wrapper .popup .images {
  width: 255px;
  float: left;
}
.popup_wrapper .popup .images > img {
  display: block;
}
.popup_wrapper .popup .images .mini {
  margin: 10px 0 0 -5px;
}
.popup_wrapper .popup .images .mini a {
  display: block;
  float: left;
  margin: 0 0 5px 5px;
}
.popup_wrapper .popup .images .mini img {
  display: block;
}

.popup_wrapper_login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  display: none;
}
.popup_wrapper_login .popup_login {
  width: 280px;
  position: absolute;
  top: 135px;
  left: 50%;
  margin: 0 0 0 200px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: #f5f5f5;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
}
.popup_wrapper_login .popup_login .link {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  box-shadow: inset 0 1px 0 #fff;
  height: 40px;
  line-height: 40px;
}
.popup_wrapper_login .popup_login .link a {
  color: #808080;
}
.popup_wrapper_login .popup_login form {
  padding: 0 19px;
}
.popup_wrapper_login .popup_login form .field {
  margin: 0 0 10px;
}
.popup_wrapper_login .popup_login form .field label {
  width: 60px;
  float: left;
  font-size: 12px;
  color: #808080;
  padding: 5px 0 0 0;
}
.popup_wrapper_login .popup_login form .field .input {
  margin: 0 0 0 60px;
}
.popup_wrapper_login .popup_login form .btn {
  text-align: right;
  margin: 0 0 10px;
}
.popup_wrapper_login .popup_login .tabs {
  margin: 0 0 20px;
}
.popup_wrapper_login .popup_login .tabs li {
  width: 50%;
  float: left;
}
.popup_wrapper_login .popup_login .tabs li a {
  display: block;
  height: 39px;
  line-height: 39px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.popup_wrapper_login .popup_login .tabs li a i.login_str {
  position: absolute;
  right: 40px;
  top: -6px;
}
.popup_wrapper_login .popup_login .tabs li.passive a {
  background: #e8e8e8;
  box-shadow: inset 4px -4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0 6px 0 6px;
  color: #666666;
}
.popup_wrapper_login .popup_login .tabs li.passive a em {
  border-bottom: 1px dashed #666666;
}
.popup_wrapper_login .popup_login .tabs li.passive a:hover em {
  border: none;
}
.popup_wrapper_login .popup_login .tabs li:first-child.passive a {
  border-radius: 6px 0 6px 0;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.05);
}
.popup_wrapper_login .popup_menu {
  width: 220px;
  position: absolute;
  top: 135px;
  left: 50%;
  border-radius: 6px;
  margin: 0 0 0 260px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: whitesmoke url(../images/menu.png) repeat-x;
  border: 1px solid #d6d6d6;
}
.popup_wrapper_login .popup_menu .blue_str {
  position: absolute;
  top: -6px;
  right: 40px;
}
.popup_wrapper_login .popup_menu .name {
  padding: 13px 25px;
  font-weight: bold;
  color: #000;
  font-size: 13px;
}
.popup_wrapper_login .popup_menu i.icon {
  margin: 0 12px 0 0;
  vertical-align: -2px;
}
.popup_wrapper_login .popup_menu i.icon.marker1 {
  margin: 0 16px 0 0;
}
.popup_wrapper_login .popup_menu ul li {
  height: 26px;
  line-height: 26px;
  padding: 0 25px;
}
.popup_wrapper_login .popup_menu ul li a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}
.popup_wrapper_login .popup_menu ul li:last-child {
  border-top: 1px solid #e0e0e0;
  box-shadow: inset 0 1px 0 #fff;
  padding: 0px 25px;
  height: 36px;
  line-height: 36px;
  margin: 10px 0 0 0;
}
