<aside>
  <nav>
    <li><a href="">Акриловые ванны<i class="icon menu_str"></i></a></li>
    <li><a href="">Душевые уголки<i class="icon menu_str"></i></a></li>
    <li><a href="">Шторы для ванн<i class="icon menu_str"></i></a></li>
    <li>
      <a href="">Душевые стойки тест двухстрочности<i class="white"></i><i class="icon menu_str"></i></a>
      <ul>
        <li><a href="">Уголки 80х80 см</a></li>
        <li><a href="">Уголки 90х90 см</a></li>
        <li><a href="">Уголки 100х100 см</a></li>
        <li><a href="">Уголки прямоугольные</a></li>
      </ul>
    </li>
    <li>
      <a href="">Смесители на борт ванны<i class="white"></i><i class="icon menu_str"></i></a>
      <ul>
        <li><a href="">Уголки 80х80 см</a></li>
        <li><a href="">Уголки 90х90 см</a></li>
        <li><a href="">Уголки 100х100 см</a></li>
        <li><a href="">Уголки прямоугольные</a></li>
        <li><a href="">Уголки с глубоким поддоном</a></li>
        <li><a href="">Уголки 80х80 см</a></li>
        <li><a href="">Уголки 90х90 см</a></li>
        <li><a href="">Уголки 100х100 см</a></li>
        <li><a href="">Уголки прямоугольные</a></li>
        <li><a href="">Уголки с глубоким поддоном</a></li>
      </ul>
    </li>
    <i class="icon after_menu_shadow"></i>
  </nav>
  <div class="banner"><a href=""><img src="files/banner.png"></a></div>
  <div class="text">
    <div class="label">О компании</div>
    <p>Мы работаем для тех, кто по-настоящему ценит свое время. Кто не желает тратить его на пробки по пути в магазин, очереди и бесконечный изматывающий процесс «выбирания» из сотни похожих вариантов. Мы помогаем выбирать то, что нужно — и быстро. </p>
    <p>Новый уровень покупок – это когда выбор становится осознанным и простым – выбор товара для покупателя, а не покупателя для товара. Когда не человек едет за покупками, а покупки едут к человеку, словно по мановению волшебной палочки. Все это – дело техники. </p>
  </div>
</aside>