<footer>
  <div class="line">
    <div class="wrap">
      <div class="logo">
        <i class="icon logo"></i>
        <p>официальный фирменный магазин</p>
      </div>
      <ul class="mini">
        <li><a href="">Продукция</a></li>
        <li><a href="">Доставка и оплата</a></li>
        <li><a href="">Распродажа</a></li>
        <li><a href="">Контакты</a></li>
        <li><a href="">Гарантии</a></li>
        <i class="icon footer_chunk"></i>
      </ul>
      <ul>
        <li><a href="">Сервис и установка</a></li>
        <li><a href="">Выставочный павильон</a></li>
        <li><a href="">Партнерам</a></li>
        <li><a href="">Статьи</a></li>
        <li><a href="">Сертификаты качества</a></li>
        <i class="icon footer_chunk"></i>
      </ul>
      <div class="address">
        <div class="phones">
          <i class="icon phone"></i>
          <p><strong>+7 (495) 000-00-00</strong> Москва и область</p>
          <p><strong>8 (800) 000-00-00</strong> Другие регионы</p>
          <i class="icon hor_chunk"></i>
        </div>
        <div class="marker">
          <i class="icon marker"></i>
          <p>Москва, ул. Охотный Ряд, 1, каб. 17 (м. Охотный Ряд)</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="line1">
    <div class="wrap">
      <div class="copyright">
        <p>asselshop.ru © Москва 2008-2014 Все права защищены.</p>
        <p>Все торговые марки принадлежат их владельцам. Копирование составляющих частей сайта в какой бы то ни было форме без разрешения владельца авторских прав запрещено.</p>
      </div>
      <div class="social">
        <a href=""><i class="icon soc1"></i></a>
        <a href=""><i class="icon soc2"></i></a>
        <a href=""><i class="icon soc3"></i></a>
        <a href=""><i class="icon soc4"></i></a>
        <a href=""><i class="icon soc5"></i></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>