<header>
  <div class="line">
    <div class="wrap">
      <div class="region">
        <strong>Регион:</strong> 
        <a class="ajax" data-role="popup_open" data-target="#city" href="">Москва</a>
        <div class="all_right">
          Всё верно?<a href="">Да</a><a href="">Нет</a>
          <i class="icon city_str"></i>
        </div>
      </div>
      <ul>
        <li><a href="">Продукция</a></li>
        <li><a class="active" href="">Доставка и оплата</a></li>
        <li><a href="">Распродажа</a></li>
        <li><a href="">контакты</a></li>
        <li><a href="">Гарантии</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="wrap">
    <div class="logo">
      <a href=""><i class="icon logo"></i></a>
      <a href=""><i class="icon after_logo"></i></a>
      <p>официальный фирменный магазин</p>
    </div>
    <div class="market">
      <i class="icon market">
        <span class="count">6</span>
      </i>
      <p>товаров</p>
      <div class="price">87 715 р. <i class="icon market_str"></i></div>
      <div class="over">
        <div class="item">
          <div class="t">
            <div class="r">
              <div class="image"><img src="files/item.png"></div>
              <div class="name">Акриловаaя ванна Ravak ROSA 140x105</div>
              <div class="count"></div>
              <div class="price">20 595 р.</div>
              <div class="remove"><a href=""><i class="icon remove"></i></a></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="t">
            <div class="r">
              <div class="image"><img src="files/item.png"></div>
              <div class="name">Акриловаaя ванна Ravak ROSA 140x105</div>
              <div class="count"></div>
              <div class="price">20 595 р.</div>
              <div class="remove"><a href=""><i class="icon remove"></i></a></div>
            </div>
          </div>
        </div>
        <div class="subitems">
          <div class="subitem">
            <div class="t">
              <div class="r">
                <div class="name">Ионизация для ванны Ravak</div>
                <div class="count">x 1</div>
                <div class="price">+ 14 300 р.</div>
                <div class="remove"><a href=""><i class="icon remove_white"></i></a></div>
              </div>
            </div>
          </div>
          <div class="subitem">
            <div class="t">
              <div class="r">
                <div class="name">Слив-перелив (сточный комплект) для ванны Ravak хром</div>
                <div class="count">x 1</div>
                <div class="price">+ 14 300 р.</div>
                <div class="remove"><a href=""><i class="icon remove_white"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="t">
            <div class="r">
              <div class="image"><img src="files/item.png"></div>
              <div class="name">Акриловаaя ванна Ravak ROSA 140x105</div>
              <div class="count"></div>
              <div class="price">20 595 р.</div>
              <div class="remove"><a href=""><i class="icon remove"></i></a></div>
            </div>
          </div>
        </div>
        <div class="price_order">
          <p>Итого: <strong>87 715 р.</strong></p>
          <button class="order">оформить заказ</button>
        </div>
      </div>
    </div>
    <div class="phones">
      <div class="phone">
        <div>+7 (495) <strong>000-00-00</strong></div>
        <p>Москва и область</p>
      </div>
      <div class="phone right">
        <strong>8 (800) 000-00-00</strong>
        <p>Другие регионы</p>
      </div>
      <div class="clear"></div>
      <div class="search">
        <form action="">
          <input type="text" placeholder="Что ищем?">
          <button class="search"><i class="icon search"></i></button>
        </form>
      </div>
    </div>
    <div class="cabinet">
      <button class="cabinet" data-role="popup_open" data-target="#login">
        <i class="icon user"></i> Личный кабинет <i class="icon cabinet"></i>
      </button>
    </div>
    <div class="clear"></div>
  </div>
</header>