<div class="item">
  <div class="image" data-role="popup_open" data-target="#item">
    <a href=""><span><img src="files/none.png"></span></a>
    <i class="icon new"></i>
    <i class="icon top"></i>
    <em><i>быстрый просмотр</i></em>
  </div>
  <div class="data">
    <div class="title"><a href="">Акриловая ванна Ravak Rosa I L (160 см)</a></div>
    <div class="stars">
      <a class="active" href=""></a>
      <a class="active" href=""></a>
      <a class="active" href=""></a>
      <a class="fixed-active active" href=""></a>
      <a href=""></a>
    </div>
    <div class="opinions"><a href=""><span>(отзывы:</span> 5<span>)</span></a></div>
    <div class="clear"></div>
    <div class="size"><span>Размеры:</span> 160x105x45</div>
  </div>
  <div class="price">
    <!--<div class="pr">29 340 p. <span>32 490 p.</span></div>-->
    <div class="net">Временно нет в наличии</div>
    <button class="market"><i class="icon market_white"></i>в корзину</button>
    <button class="gray"><i class="icon stats"></i></button>
    <button class="gray"><i class="icon favorite"></i></button>
  </div>
</div>