<div class="popup_wrapper" id="item" data-role="popup">
  <div class="popup" data-role="popup_window">
    <a href="" class="close" data-role="popup_close"><i class="icon close"></i></a>
    <div class="images">
      <img src="files/item2.png">
      <div class="mini">
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
        <a href=""><img src="files/item3.png"></a>
      </div>
    </div>
    <div class="data">
      <div class="title">Ванна из литьевого мрамора Castone Даллас <br> (ножки хром, слив хром)</div>
      <div class="left">
        <div class="stars">
          <a class="active" href=""></a>
          <a class="active" href=""></a>
          <a class="active" href=""></a>
          <a class="fixed-active active" href=""></a>
          <a href=""></a>
        </div>
        <div class="opinions"><a href=""><span>(отзывы:</span> 5<span>)</span></a></div>
        <div class="clear"></div>
        <div class="label">Характеристики</div>
        <dl>
          <dt>Габариты (дшв)</dt>
          <dd>150x75x44</dd>
        </dl>
        <dl>
          <dt>Цвет</dt>
          <dd>белый</dd>
        </dl>
        <dl>
          <dt>Ориентация</dt>
          <dd>левая</dd>
        </dl>
        <dl>
          <dt>Тип материала</dt>
          <dd>акриловая</dd>
        </dl>
        <dl>
          <dt>Объём</dt>
          <dd>185 л</dd>
        </dl>
        <dl>
          <dt>Форма</dt>
          <dd>асимметричная</dd>
        </dl>
        <dl>
          <dt>Гарантия</dt>
          <dd>5 лет</dd>
        </dl>
        <dl>
          <dt>Страна-производитель</dt>
          <dd>Чехия</dd>
        </dl>
        <dl>
          <dt>Аэромассаж</dt>
          <dd>установка по желанию</dd>
        </dl>
        <dl>
          <dt>Каркас</dt>
          <dd>есть (в комплекте)</dd>
        </dl>
        <dl>
          <dt>Ножки</dt>
          <dd>есть (в комплекте)</dd>
        </dl>
      </div>
      <div class="right">
        <div class="price">
          <div class="pr">
            <p>цена</p>
            <strong>28 510 р.</strong>
            <button class="order">подробнее</button>
          </div>
          <div class="bg">
            <div class="green"><i class="icon check"></i><em>Товар в наличии</em></div>
          </div>
        </div>
        <div class="date">
          <p>Ожидаемая дата доставки: </p>
          <p><strong>27 сентября</strong></p>
        </div>
        <div class="btn"><button class="gray"><i class="icon stats"></i></button><a href="">Добавить к сравнению</a></div>
        <div class="btn"><button class="gray"><i class="icon favorite"></i></button><a href="">Добавить в избранное</a></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="popup_wrapper" id="city" data-role="popup">
  <div class="popup city" data-role="popup_window">
    <a href="" class="close" data-role="popup_close"><i class="icon close"></i></a>
    <div class="label">Выбор региона:</div>
    <div class="field"><input type="text" class="white"></div>
    <div class="cols">
      <ul class="col">
        <li class="active"><a href="">Город 1</a></li>
        <li><a href="">Город 2</a></li>
        <li><a href="">Город 3</a></li>
        <li><a href="">Город 4</a></li>
        <li><a href="">Город 5</a></li>
        <li><a href="">Город 6</a></li>
        <li><a href="">Город 7</a></li>
      </ul>
      <ul class="col">
        <li><a href="">Город 8</a></li>
        <li><a href="">Город 9</a></li>
        <li><a href="">Город 10</a></li>
        <li><a href="">Город 11</a></li>
        <li><a href="">Город 12</a></li>
        <li><a href="">Город 13</a></li>
        <li><a href="">Город 14</a></li>
      </ul>
      <ul class="col">
        <li><a href="">Город 15</a></li>
        <li><a href="">Город 16</a></li>
        <li><a href="">Город 17</a></li>
        <li><a href="">Город 18</a></li>
        <li><a href="">Город 19</a></li>
        <li><a href="">Город 20</a></li>
        <li><a href="">Город 21</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="popup_wrapper_login" id="login" data-role="popup">
  <div class="popup_login" data-role="popup_window">
    <ul class="tabs">
      <li><a href="" data-role="popup_open" data-target="#login"><em>Вход</em></a></li>
      <li class="passive"><a href="" data-role="popup_open" data-target="#registration"><i class="icon login_str"></i><em>Регистрация</em></a></li>
      <div class="clear"></div>
    </ul>
    <form action="">
      <div class="field">
        <label>Логин</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="field">
        <label>Пароль</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="btn"><button data-role="popup_open" data-target="#menu" class="order little">войти</button></div>
    </form>
    <div class="link"><a href="">Забыли логин или пароль?</a></div>
  </div>
</div>

<div class="popup_wrapper_login" id="registration" data-role="popup">
  <div class="popup_login" data-role="popup_window">
    <ul class="tabs">
      <li class="passive"><a href="" data-role="popup_open" data-target="#login"><em>Вход</em></a></li>
      <li><a href="" data-role="popup_open" data-target="#registration"><i class="icon login_str"></i><em>Регистрация</em></a></li>
      <div class="clear"></div>
    </ul>
    <form action="">
      <div class="field">
        <label>Моб. тел.</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="field">
        <label>Имя</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="field">
        <label>Фамилия</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="field">
        <label>E-mail</label>
        <div class="input"><input class="white" type="text"></div>
      </div>
      <div class="btn"><button data-role="popup_open" data-target="#menu" class="order little">зарегистрироваться</button></div>
    </form>
    <div class="link"><a href="">Пользовательское соглашение</a></div>
  </div>
</div>

<div class="popup_wrapper_login" id="menu" data-role="popup">
  <div class="popup_menu" data-role="popup_window">
    <i class="icon blue_str"></i>
    <div class="name">Сергей Дмитриев</div>
    <ul>
      <li><a href=""><i class="icon user1"></i>Личный кабинет</a></li>
      <li><a href=""><i class="icon box"></i>Мои заказы</a></li>
      <li><a href=""><i class="icon marker1"></i>Мои адреса</a></li>
      <li><a href=""><i class="icon dog"></i>Подписка</a></li>
      <li><a href=""><i class="icon user1"></i>Бонусная программа</a></li>
      <li><a href=""><i class="icon exit"></i>Выход</a></li>
    </ul>
  </div>
</div>