include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → Личный кабинет
    </div>
    <div class="cabinet">
      <h3>Личный кабинет</h3>
      <ul class="tabs">
        <li><a href="">Мои заказы</a></li>
        <li><a class="active" href="">Мои данные</a></li>
        <li><a href="">Мои адреса</a></li>
        <li><a href="">Подписка</a></li>
        <li><a href="">Бонусная программа</a></li>
        <div class="clear"></div>
      </ul>
      <div class="user-data">
        <div class="left">
          <h3>Мои данные</h3>
          <div class="bg">
            <div class="field">
              <label for="">Фамилия:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for="">Имя:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for="">Телефон:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for="">Адрес эл. почты:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for="">Рассылка:</label>
              <div class="input">
                <select name="" id="">
                  <option value="">Разрешена</option>
                </select>
              </div>
            </div>
            <div class="field">
              <label for=""></label>
              <div class="input"><button class="order">сохранить</button></div>
            </div>
          </div>
        </div>
        <div class="right">
          <h3>Изменение пароля</h3>
          <div class="bg">
            <div class="field">
              <label for="">Старый пароль:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for="">Новый пароль:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label class="double" for="">Новый пароль еще раз:</label>
              <div class="input"><input type="text" class="white"></div>
            </div>
            <div class="field">
              <label for=""></label>
              <div class="input"><button class="order">изменить пароль</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"