include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → Акриловые ванны
    </div>
    <div class="page">Акриловые ванны</div>
    <div class="filter">
      <div class="c">
        <label>форма ванны</label>
        <div class="input">
          <select>
            <option value="">прямоугольная</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>размер</label>
        <div class="input">
          <select>
            <option value="">170x50</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>цвет</label>
        <div class="input">
          <select>
            <option value="">белый</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>гидромассаж</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>аэромассаж</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>подголовник</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>подголовник</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>подголовник</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>подголовник</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="c">
        <label>подголовник</label>
        <div class="input">
          <select>
            <option value="">да</option>
          </select>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="promo-line">
      <a href="">
        <p>Почему наши клиенты выбирают Aessel?</p>
        <p class="r">Узнайте о преимуществах</p>
      </a>
    </div>
    <div class="items">
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
    </div>
    <div class="pagination">
      <ul>
        <li class="first"><a href="">назад</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a class="active" href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li><a href="">8</a></li>
        <li class="last"><a href="">вперед</a></li>
      </ul>
    </div>
    <div class="text">
      <h3>Текстовый контент для SEO</h3>
      <p>Рома́нский меч — тип европейского меча периода Высокого и, частично, Позднего Средневековья (или, если точнее, примерно с 1000 по 1350 год), использовавшийся в Западной Европе практически исключительно сословием рыцарей, а на Руси — в княжеском войске. Другое их название — капетингские[1], вероятно, по аналогии с каролингскими. Вместе с мечами XIV—XV веков иногда объединяются термином «рыцарский меч»[2]. </p>
      <p>В качестве оружия играли во многом вспомогательную роль, но были важным отличительным признаком статуса — только дворянин имел право носить меч на поясе, и препоясывание мечом являлось частью ритуала возведения в рыцарское достоинство. Владение же и ношение мечей простолюдинами законодательно запрещалось[3]. Современными исследователями выделены различные типы таких мечей, являвшиеся, как правило, общими для всей Европы . </p>
      <p>Для романских мечей характерен сдержанный внешний вид, чаще всего лишённый украшений. Их широкие клинки, иногда нёсшие на себе загадочные аббревиатуры , предназначались в основном для рубящих ударов, что было вполне достаточно в эпоху, когда защитой главным образом служил кольчужный доспех. Значительное количество образцов дошло до нашего времени, также они нередко изображались на миниатюрах, были представлены в круглой скульптуре и на барельефах, описывались в письменных источниках .</p>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"