include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="carusel">
      <div class="border">
        <ul>
          <li><img src="files/carusel.jpg"></li>
          <li><img src="files/carusel.jpg"></li>
          <li><img src="files/carusel.jpg"></li>
          <li><img src="files/carusel.jpg"></li>
        </ul>
      </div>
      <div class="points">
        <a class="active" href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
    <div class="items">
      <div class="title"><a href="">Популярные товары</a></div>
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
    </div>
    <div class="items">
      <div class="title"><a href="">Новинки</a></div>
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
    </div>
    <div class="promos">
      <div class="promo">
        <img src="files/promo.jpg">
        <div class="data">
          <div class="label">Как выбрать форму ванны?</div>
          <p>Формы ванн могут быть разными: круглой, квадратной, овальной и даже треугольной формы.  Узнайте подробней!</p>
        </div>
      </div>
      <div class="promo">
        <img src="files/promo.jpg">
        <div class="data">
          <div class="label">Хромотерапия — все о цвете</div>
          <p>Под словом хромотерапия скрывается относительно новая в современной медицине методика – воздействие на человеческий организм цветовым спектром. </p>
        </div>
      </div>
      <div class="promo">
        <img src="files/promo.jpg">
        <a href=""><i class="icon camera"></i></a>
        <div class="data">
          <div class="label">Как выбрать ванну?</div>
          <p>Приобретение ванны является важным мероприятием, ведь меняем мы ее крайне редко. Поэтому к вопросу подбора ванны стоит отнестись со всей ответственностью. </p>
        </div>
      </div>
    </div>
    <div class="text">
      <h3>Зачем покупать материалы, отмеченные знаком e3?</h3>
      <ul>
        <li>Знак е3 получает только продукция, которая прошла  проверку авторитетного экспертного совета;</li>
        <li>Используя экологические материалы, Вы участвуете в сохранении природы для будущих поколений;</li>
        <li>Использование экологических материалов безопасно для Вашего здоровья и здоровья Ваших близких;</li>
        <li>Экологические материалы долговечны и экономичны в использовании.</li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"