include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → <a href="">Акриловые ванны</a> → <a href="">Ravak</a> → Акриловая ванна Ravak BeHappy L (150 см)
    </div>
    <div class="item_page">
      <div class="page">Акриловая ванна Ravak BeHappy L (150 см)</div>
      <div class="details">
        <div class="stars">
          <a class="active" href=""></a>
          <a class="active" href=""></a>
          <a class="active" href=""></a>
          <a class="fixed-active active" href=""></a>
          <a href=""></a>
        </div>
        (<a href="">отзывы: 5</a>) <span>|</span>
        <a href="">Характеристики</a> <span>|</span>
        <a href="">Комплектующие</a>
        <em>Арт. 000000000</em>
      </div>
      <div class="date">Ожидаемая дата доставки: <strong>27 сентября</strong></div>
      <div class="images">
        <div class="t">
          <div class="r">
            <div class="c"><img src="files/none_big.png"></div>
          </div>
        </div>
        <div class="mini">
          <a href=""><img src="files/item5.png"></a>
          <a href=""><img src="files/item5.png"></a>
          <a href=""><img src="files/item5.png"></a>
          <a href=""><img src="files/item5.png"></a>
        </div>
      </div>
      <div class="right">
        <div class="price">
          <div class="pr">
            <button class="market big"><i class="icon market_white"></i>в корзину</button>
            <p>цена</p>
            <strong>28 510 р.</strong>
            <p>22 730 р. + 5 780 р.</p>
          </div>
          <div class="bg">
            <div class="green"><i class="icon check"></i>Товар в наличии</div>
            <a href=""><i class="icon favorite1"></i><em>В избранное</em></a>
          </div>
        </div>
        <div class="btns">
          <button class="gray1"><i class="icon card"></i>Доступно в кредит!</button>
          <button class="gray1"><i class="icon download"></i>Инструкция</button>
        </div>
        <div class="label">Характеристики</div>
        <dl>
          <dt>Габариты (дшв)</dt>
          <dd>150x75x44</dd>
        </dl>
        <dl>
          <dt>Цвет</dt>
          <dd>белый</dd>
        </dl>
        <dl>
          <dt>Ориентация</dt>
          <dd>левая</dd>
        </dl>
        <dl>
          <dt>Тип материала</dt>
          <dd>акриловая</dd>
        </dl>
        <dl>
          <dt>Объём</dt>
          <dd>185 л</dd>
        </dl>
        <dl>
          <dt>Форма</dt>
          <dd>асимметричная</dd>
        </dl>
        <dl>
          <dt>Гарантия</dt>
          <dd>5 лет</dd>
        </dl>
        <dl>
          <dt>Страна-производитель</dt>
          <dd>Чехия</dd>
        </dl>
        <dl>
          <dt>Аэромассаж</dt>
          <dd>установка по желанию</dd>
        </dl>
        <dl>
          <dt>Каркас</dt>
          <dd>есть (в комплекте)</dd>
        </dl>
        <dl>
          <dt>Ножки</dt>
          <dd>есть (в комплекте)</dd>
        </dl>
      </div>
      <div class="clear"></div>
      <div class="text">
        <h3>Описание</h3>
        <p>Ванна BeHappy - с точки зрения экономии пространства в малой ванной комнате - лучшее решение для удобного принятия ванны или душа. </p>
        <p>Ванна Ravak "BeHappy L, 150 см" предлагается в левостороннем или правостороннем вариантах. В базовой комплектации ванна идёт без переднего экрана, подголовника и слива-перелива. Данные опции приобретаются отдельно. </p>
      </div>
      <div class="complect">
        <h3>Комплектующие</h3>
        <div class="sum">
          <div class="bg">
            <p>итоговая цена за&nbsp;комплект</p>
            <div class="price">28 510 р.</div>
          </div>
          <button class="order">в корзину</button>
        </div>
        <ul>
          <li>
            <img src="files/item8.png" class="big">
            <a href=""><img src="files/item7.png"></a>
            <button class="order">+ Добавить</button>
            <div class="data">
              <p class="price">28 180 р.</p>
              <p><a href="">Гидромассаж Ravak Activ Air</a></p>
              <p><small>Артикул: 000000</small></p>
            </div>
            <div class="clear"></div>
          </li>
          <li class="active">
            <img src="files/item8.png" class="big">
            <a href=""><img src="files/item7.png"></a>
            <button class="order gray_color">- Удалить</button>
            <div class="data">
              <p class="price">28 180 р.</p>
              <p><a href="">Гидромассаж Ravak Activ Air</a></p>
              <p><small>Артикул: 000000</small></p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <img src="files/item8.png" class="big">
            <a href=""><img src="files/item7.png"></a>
            <button class="order">+ Добавить</button>
            <div class="data">
              <p class="price">28 180 р.</p>
              <p><a href="">Слив-перелив (сточный комплект) для ванны Ravak с заполнением переливом</a></p>
              <p><small>Артикул: 000000</small></p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <img src="files/item8.png" class="big">
            <a href=""><img src="files/item7.png"></a>
            <button class="order">+ Добавить</button>
            <div class="data">
              <p class="price">28 180 р.</p>
              <p><a href="">Слив-перелив (сточный комплект) для ванны Ravak с заполнением переливом</a></p>
              <p><small>Артикул: 000000</small></p>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <img src="files/item8.png" class="big">
            <a href=""><img src="files/item7.png"></a>
            <button class="order">+ Добавить</button>
            <div class="data">
              <p class="price">28 180 р.</p>
              <p><a href="">Слив-перелив (сточный комплект) для ванны Ravak с заполнением переливом</a></p>
              <p><small>Артикул: 000000</small></p>
            </div>
            <div class="clear"></div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="opinions">
        <h3>Отзывы покупателей</h3>
        <ul>
          <li>
            <div class="info">
              <p>Sergey Marchenko</p>
              <p><small>20 января 2014</small></p>
              <div class="stars">
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="fixed-active active" href=""></a>
                <a href=""></a>
              </div>
              <button class="gbd l"><i class="icon up"></i>2</button>
              <button class="gbd r"><i class="icon down"></i>0</button>
              <div class="clear"></div>
              <button class="gbd f"><i class="icon share"></i>Поделиться</button>
            </div>
            <div class="data">
              <p>для маленьких ванных - просто находка. Позволяет разместить стиралку в ванной не ущемляя функционал ванны и раковины. Пользоваться такой конфигурацией ванна-раковина оказалось мега удобно, кстати. Можно принять душ, а потом почистить зуби и побриться, не вылезая из ванны, а просто повернувшись к раковине. Просто раковиной без ванны пользоваться ванна тоже нисколько не мешает. Ванна глубокая, поэтому в ней и поваляться оказалось можно, но В 150 см принять ванну комфортно сможет только человек не более 170 см ростом. Качество изготовления отличное. По цене, да, относительно дороговато, но качество изготовления того стоит.</p>
            </div>
          </li>
          <li>
            <div class="info">
              <p>Sergey Marchenko</p>
              <p><small>20 января 2014</small></p>
              <div class="stars">
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="fixed-active active" href=""></a>
                <a href=""></a>
              </div>
              <button class="gbd l"><i class="icon up"></i>2</button>
              <button class="gbd r"><i class="icon down"></i>0</button>
              <div class="clear"></div>
              <button class="gbd f"><i class="icon share"></i>Поделиться</button>
            </div>
            <div class="data">
              <p>для маленьких ванных - просто находка. Позволяет разместить стиралку в ванной не ущемляя функционал ванны и раковины. Пользоваться такой конфигурацией ванна-раковина оказалось мега удобно, кстати. Можно принять душ, а потом почистить зуби и побриться, не вылезая из ванны, а просто повернувшись к раковине. Просто раковиной без ванны пользоваться ванна тоже нисколько не мешает. Ванна глубокая, поэтому в ней и поваляться оказалось можно, но В 150 см принять ванну комфортно сможет только человек не более 170 см ростом. Качество изготовления отличное. По цене, да, относительно дороговато, но качество изготовления того стоит.</p>
            </div>
          </li>
          <li>
            <div class="info">
              <p>Sergey Marchenko</p>
              <p><small>20 января 2014</small></p>
              <div class="stars">
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="active" href=""></a>
                <a class="fixed-active active" href=""></a>
                <a href=""></a>
              </div>
              <button class="gbd l"><i class="icon up"></i>2</button>
              <button class="gbd r"><i class="icon down"></i>0</button>
              <div class="clear"></div>
              <button class="gbd f"><i class="icon share"></i>Поделиться</button>
            </div>
            <div class="data">
              <p>для маленьких ванных - просто находка. Позволяет разместить стиралку в ванной не ущемляя функционал ванны и раковины. Пользоваться такой конфигурацией ванна-раковина оказалось мега удобно, кстати. Можно принять душ, а потом почистить зуби и побриться, не вылезая из ванны, а просто повернувшись к раковине. Просто раковиной без ванны пользоваться ванна тоже нисколько не мешает. Ванна глубокая, поэтому в ней и поваляться оказалось можно, но В 150 см принять ванну комфортно сможет только человек не более 170 см ростом. Качество изготовления отличное. По цене, да, относительно дороговато, но качество изготовления того стоит.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="items">
        <div class="title">Другие товары из этой коллекции</div>
        <div class="line">
          include "partials/item.html"
          include "partials/item.html"
          include "partials/item.html"
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"