include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → Корзина
    </div>
    <div class="market">
      <h3>Корзина</h3>
      <div class="market-elem">
        <div class="main">
          <a href=""><img src="files/item7.png"></a>
          <div class="title">Акриловая ванна Ravak ROSA 140x105</div>
          <div class="count">1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price">20 595 р.</div>
        </div>
      </div>
      <div class="market-elem">
        <div class="main">
          <a href=""><img src="files/item7.png"></a>
          <div class="title">Акриловая ванна Ravak ROSA 140x105</div>
          <div class="count">1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price double">20 595 р.<span>+ 20 080 р.</span></div>
        </div>
        <div class="sub">
          <a href=""><img src="files/item9.png"></a>
          <div class="title">Ионизация для ванны Ravak</div>
          <div class="count">x 1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price">+ 14 300 р.</div>
        </div>
        <div class="sub">
          <a href=""><img src="files/item9.png"></a>
          <div class="title">Ионизация для ванны Ravak</div>
          <div class="count">x 1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price">+ 14 300 р.</div>
        </div>
        <div class="sub">
          <a href=""><img src="files/item9.png"></a>
          <div class="title">Ионизация для ванны Ravak</div>
          <div class="count">x 1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price">+ 14 300 р.</div>
        </div>
      </div>
      <div class="market-elem">
        <div class="main">
          <a href=""><img src="files/item7.png"></a>
          <div class="title">Акриловая ванна Ravak ROSA 140x105</div>
          <div class="count">1</div>
          <a class="remove" href=""><i class="icon remove"></i></a>
          <div class="price">20 595 р.</div>
        </div>
      </div>
    </div>
    <div class="order">
      <h3>Быстрое оформление заказа</h3>
      <div class="left">
        <div class="field">
          <label>Фамилия, имя:</label>
          <div class="input"><input class="white" type="text"></div>
        </div>
        <div class="field">
          <label>Адрес доставки:</label>
          <div class="input"><input class="white" type="text"></div>
        </div>
        <div class="field">
          <label>Телефон:</label>
          <div class="input"><input class="white" type="text"></div>
        </div>
        <div class="field">
          <label>Адрес эл. почты:</label>
          <div class="input"><input class="white" type="text"></div>
        </div>
        <div class="field">
          <label>Способ доставки:</label>
          <div class="input">
            <select>
              <option value="">Доставка на дом (по Москве)</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label>Способ оплаты:</label>
          <div class="input">
            <select>
              <option value="">Наличными при получении</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="sum">
          <dl>
            <dt>Товары:</dt>
            <dd>69 095 р.</dd>
          </dl>
          <dl>
            <dt>Доставка:</dt>
            <dd>0 р.</dd>
          </dl>
          <dl>
            <dt>Итого:</dt>
            <dd><strong>69 095 р.</strong></dd>
          </dl>
        </div>
        <div class="captcha">
          <img src="files/captcha.png">
          <div class="field">
            <input type="text" class="white">
            <p>введите код с картинки</p>
          </div>
          <div class="clear"></div>
          <button class="order">оформить заказ</button>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"