include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → Личный кабинет
    </div>
    <div class="cabinet">
      <h3>Личный кабинет</h3>
      <ul class="tabs">
        <li><a class="active" href="">Мои заказы</a></li>
        <li><a href="">Мои данные</a></li>
        <li><a href="">Мои адреса</a></li>
        <li><a href="">Подписка</a></li>
        <li><a href="">Бонусная программа</a></li>
        <div class="clear"></div>
      </ul>
      <div class="user-orders">
        <ul class="subtabs">
          <li><a class="active" href="">Все</a></li>
          <li><a href="">Выполняемые</a></li>
          <li><a href="">завершеные</a></li>
        </ul>
        <div class="clear"></div>
        <div class="user-order">
          <div class="r">
            <div class="num"><a href="">Заказ №123456790</a></div>
            <div class="date">01.01.2017</div>
            <div class="dost">Доставка до дома (Москва)</div>
            <div class="status">Передан курьеру</div>
            <div class="price">18 490 р.</div>
          </div>
        </div>
        <div class="user-order">
          <div class="r">
            <div class="num"><a href="">Заказ №123456790</a></div>
            <div class="date">01.01.2017</div>
            <div class="dost">Доставка до дома (Москва)</div>
            <div class="status">Передан курьеру</div>
            <div class="price">18 490 р.</div>
          </div>
        </div>
        <div class="user-order">
          <div class="r">
            <div class="num"><a href="">Заказ №123456790</a></div>
            <div class="date">01.01.2017</div>
            <div class="dost">Доставка до дома (Москва)</div>
            <div class="status">Передан курьеру</div>
            <div class="price">18 490 р.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"