include "partials/head.html"
include "partials/header.html"
<div class="wrap main">
  include "partials/aside.html"
  <section>
    <div class="bread">
      <a href="">Главная</a> → Поиск
    </div>
    <div class="search">
      <form action="">
        <input type="text" class="white big">
        <button class="order big">найти</button>
      </form>
      <div class="categories">
        <a href=""><em>акриловые ванны (198)</em></a>
        <a href=""><em>шторы для ванн (48)</em></a>
        <a href=""><em>смесители на борт ванны (36)</em></a>
        <a class="active" href=""><em>активная категория (00)</em></a>
      </div>
    </div>
    <div class="items">
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
    </div>
    <div class="items">
      <div class="line">
        include "partials/item.html"
        include "partials/item.html"
        include "partials/item.html"
        <div class="clear"></div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</div>
include "partials/footer.html"
include "partials/popups.html"
include "partials/foot.html"